
input {
  display          : block;
  width            : 100%;
  color            : color(deep-super-grey);
  background-color : transparent;
  border-style     : solid;
  border-width     : 1px;
  border-color     : color(mid-grey);
  border-radius    : 0;
  box-shadow       : none;
  background-image : none;
  line-height      : 1;
  font-weight      : 400;
  
  @include font-family(titles);
  
  margin : 0;
  @include padding(10,16);

  &[type=button],
  &[type=submit],
  &[type=reset] {
  	display        : inline-block;
  	width          : auto;
  	text-transform : uppercase;
  	line-height    : 1.2;
  	border-width   : 1px;
  }
}
