.form-control[disabled],
fieldset[disabled] .form-control {
  cursor : not-allowed;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background : color(mid-grey);
  color      : white;
  opacity    : 1;
}

button[disabled],
html input[disabled] {
  cursor : default;
}

.form-control[disabled]::-webkit-input-placeholder,
.form-control[readonly]::-webkit-input-placeholder,
fieldset[disabled] .form-control ::-webkit-input-placeholder {
  color: color(mid-grey);
}

.form-control[disabled]::-moz-placeholder,
.form-control[readonly]::-moz-placeholder,
fieldset[disabled] .form-control ::-webkit-input-placeholder {
  color : white;
}
