/* 16x9 Aspect Ratio */
.i-imgRatio--16x9 {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-bottom: 56.25%;
  }
  // padding-bottom: 56.25%;
}

/* 4x3 Aspect Ratio */
.i-imgRatio--4x3 {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-bottom: 75%;
  }
}

/* Squared Aspect Ratio */
.i-imgRatio--squared {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-bottom: 100%;
  }
  // padding-bottom: 100%;
}

/* Banner Height Ratio */
.i-imgRatio--banner {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-bottom: 36.004%;
  }
  // padding-bottom: 36.004%;
}

.i-imgRatio--unique {
  position: relative;
  // &:before {
  //   display: block;
  //   content: "";
  //   width: 100%;
  //   padding-bottom: 5%;
  // }
  // padding-bottom: 56.25%;
}

.i-imgRatio--uniqueInner {
  display : block;
}

.i-imgRatio--uniqueInner + .i-imgRatio--uniqueInner {
  display: none;
  visibility: hidden;
}
