// Typography
// ---------------------------------------


// Styles for typeset text.
.typeset {


  // Paragraphs. OpenType ligatures and oldstyle figures enabled if available.
  p {
    // @include baseline($fontsize: zeta, $font: $bodytype, $lineheight: 2, $below: 2, $breakpoint: all);
    @include margin-bottom(23);
    @include padding-top(10);
    font-feature-settings: 'kern', 'onum', 'liga';
    word-break: break-word;
  }


  // Heading level 1.
  h1, .h1 {
    // @include sassline($fontsize: alpha, $font: $headingtype, $lineheight: 3, $below: 1, $breakpoint: all);
    @include margin-bottom(6);
    @include padding-top(10);
    clear: both;
  }

  // Heading level 2.
  h2, .h2 {
    // @include sassline(beta, $headingtype, 3, 1, all);
    @include margin-bottom(4);
    @include padding-top(12);
    clear: both;
  }

  // Heading level 3.
  h3, .h3 {
    // @include sassline(gamma, $headingtype, 3, 1, all);
    @include margin-bottom(2);
    @include padding-top(14);
    clear: both;
  }

  // Heading level 4.
  h4, .h4 {
    // @include sassline(delta, $headingtype, 2, 0, all);
    @include margin-bottom(-7);
    @include padding-top(7);
    clear: both;
  }

  // Heading level 5.
  h5, .h5 {
    // @include sassline(epsilon, $headingtype, 2, 0, all);
    @include margin-bottom(-9);
    @include padding-top(9);
    clear: both;
  }

  // Heading level 6.
  h6, .h6 {
    // @include sassline(zeta, $headingtype, 2, 0, all);
    @include margin-bottom(-10);
    @include padding-top(10);
    clear: both;
  }

  // Lists.
  ul, ol {
    // @include baseline(zeta, $bodytype, 2, 2, all);
    @include margin-bottom(23);
    @include padding-top(10);
    clear: both;

    li {
      font-feature-settings: 'kern', 'onum', 'liga';
      // margin-left: 2rem;

      ol, ul {
        padding-top: 1rem;
        margin-bottom: 1rem;
        // margin-left: 2rem;
      }
    }
  }

  // Ordered lists.
  ol {
    list-style-type: none;

    li {
      counter-increment: top-level;

      &:before {
        content: counter(top-level) '.';
        font-feature-settings: 'lnum', 'tnum';
        margin-left: -3rem;
        position: absolute;
        text-align: right;
        width: 2em;
      }

      ul {

        li {

          &:before {
            content: '';
          }

          ol {

            li {
              counter-increment: alt-level;

              &:before {
                content: counter(alt-level) '.';
              }
            }
          }
        }
      }

      ol {

        li {
          counter-increment: sub-level;

          &:before {
            content: counter(top-level) '.' counter(sub-level);
          }

          ul {

            li {

              &:before {
                content: '';
              }
            }
          }

          ol {

            li {
              counter-increment: sub-sub-level;

              &:before {
                content: counter(top-level) '.' counter(sub-level) '.' counter(sub-sub-level);
              }
            }
          }
        }
      }
    }
  }

  // Definition lists.
  dl {

    dt, dd {
      font-feature-settings: 'kern', 'onum', 'liga';
      margin-left: 2rem;

    }

    dd + dt {
      padding-top: 1rem;
    }
  }

  // Nice spacing for captions.
  h1 + .caption, .alpha + .caption, h2 + .caption, .beta + .caption, h3 + .caption, .gamma + .caption {
    margin-top: -1rem;
  }

  .delta + .caption, .epsilon + .caption, .zeta + .caption {
    margin-top: 0rem;
  }


  pre {
    display: block;
    margin-bottom: 2rem;
    padding: 1rem;
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
  }

  code {

    line-height: 1rem;
  }

}
