

// 1. Natco Colour palette
$colors : (
white : #ffffff,
black : #000000,
blue-green : #007078,
green : #55C6B4,

light-green : #BBE8E1,
light-green-blue: #95D9CD,
super-light-green-blue: #00A19B,
white-green: #c6e6de,
super-light-grey: #f3f3f3,
soft-moonstone : #ededed,
moonstone : #cbc8c7,
mid-grey : #8C8C8C,
dark-grey : #4F4F4F,
lightest-grey: #f7f7f7,

ebb: #EFEDEC,
aqua-squeeze: #e2f3f0,
sinbad: #a0d7ce,
swans-down: #CFEBE6,
bermuda: #8bd8cd,
dove-gray: #666666,
surfie-green: #0e7178,
puerto-rico: #3bbfad,
jagged-ice: #CAECE6,

border-grey: #EDEDED,
border-light-green: #CFEDE7,
border-blue-green: #52C5B4,

border-mid-green: #BFE8E0,

twitter : #00aced,
facebook: #3C5A99,
linkedin: #0076B4,

bullet-grey: #C8C8C8,
);


// 2. Spacings
// --------------
$spacings: (
  small   : 20,
  medium  : 20,
  large   : 20,
  xlarge  : 40,
  xxlarge : 40,
  super   : 40,
  giant   : 40
);

// 3. Breakpoints
// --------------
$breakpoints: (
  small: 0,
  medium: 480px,
  large : 768px,
  xlarge: 960px,
  xxlarge: 1200px,
  super: 1400px,
  massive: 1600px,
  giant: 1800px,
  huge: 2000px,

);
$print-breakpoint: large;
$breakpoint-classes: (small medium large xlarge xxlarge super massive giant huge);


// 4. The Grid
// -----------
$grid-row-width: $global-width;
$grid-column-count: 12;
$grid-column-gutter: (
  small: 40px,
  medium: 40px,
  xlarge : 40px,
  xxlarge : 40px
);
$grid-column-align-edge: true;
$block-grid-max: 8;

// 5. fonts
// -----------
$fonts : (
  prime : 'proxima-soft',
  heading : 'proxima-soft',
  titles : 'proxima-soft',
  copy : 'proxima-soft',
  cta : 'proxima-soft',
  btn : 'proxima-soft'
);
$pxPc : 'px';

$base-font-size2 : 100;
$base-font-size-percent : 100%;

$base-font-size-px-calc : floor((16 / 100) * $base-font-size);
$base-font-size-px : $base-font-size-px-calc + px;

$line-height-copy : 1.5;
// $line-height-copy : 1.2;
// $line-height-heading : 1.2;
$line-height-heading : 1.16;

//$font-spacing-primary : 120;
$font-spacing-primary : 30;
$font-spacing-secondary : 96;
$font-spacing-tertiary : 30;
// $font-spacing-heading : 160;
$font-spacing-heading : 30;
$font-spacing-copy : 30;

$font-weight-bold : 600;

$table-cell-padding : 8px !default;
//** Padding for cells in `.table-condensed`.
$table-condensed-cell-padding : 5px !default;

// 6. TRANSITIONS
// -----------
$transitions : (
    out-sine : cubic-bezier(0.39, 0.58, 0.57, 1),
    out-quadratic: cubic-bezier(0.25, 0.46, 0.45, 0.96),
    out-cubic: cubic-bezier(0.22, 0.61, 0.36, 1),
    linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1),
    in-sine: cubic-bezier(0.47, 0, 0.75, 0.72),
    in-quadratic: cubic-bezier(0.55, 0.09, 0.68, 0.53),
    in-cubic : cubic-bezier(0.55, 0.06, 0.68, 0.19),
    fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1),
    in-out-sine : cubic-bezier(0.45, 0.05, 0.55, 0.95),
    in-out-quadratic : cubic-bezier(0.46, 0.03, 0.52, 0.96),
    in-out-cubic : cubic-bezier(0.65, 0.05, 0.36, 1),
    fast-out-slow-in : cubic-bezier(0.4, 0, 0.2, 1),
    linear : linear,
    ease: ease
);

$speed-1 : 100ms;
$speed-2 : 200ms;
$speed-3 : 300ms;
$speed-4 : 400ms;
$speed-5 : 500ms;
$speed-6 : 600ms;
$speed-7 : 700ms;
$speed-8 : 800ms;
$speed-9 : 900ms;
$speed-10 : 1000ms;
