/*
Theme Name: The Framework
Theme URI: http://weareframework.co.uk/
Author: The Framework
Author URI: http://weareframework.co.uk/
Description: The Framework White Label Theme for developing new Wordpress Sites.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: The Framework Theme
Tags:
*/
@import 'bower_components/foundation-sites/scss/foundation';

@import 'variables';
// functions ////////////////
@import 'functions/spacing';
@import 'functions/color';
@import 'functions/px2rem';
@import 'functions/getBreakpoint';
@import 'functions/letterSpacing';
// mixins ////////////////
@import 'mixins/font-size';
@import 'mixins/font-family';
@import 'mixins/margin';
@import 'mixins/padding';
@import 'mixins/border-arrow';
@import 'mixins/clearer';
@import 'mixins/keyframes';
@import 'mixins/abs-pos';
@import 'mixins/grid-columns';
@import 'mixins/pixels-to-rem';
// @include foundation-global-styles;
@include foundation-grid;
.row__inner {
  // margin-right: -0.625rem;
  // margin-left: -0.625rem;

  @include margin-right(-20);
  @include margin-left(-20);

  @include breakpoint(xlarge){
    @include margin-right(-20);
    @include margin-left(-20);
  }
}

.column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
  float: left;
}


@import 'general/font-familys';
@import 'general/base-css';
@import 'general/pre-code';
@import 'general/forms';
@import 'general/links';
@import 'general/blockquote';
@import 'general/slider';
@import 'general/lists';

/* ================
    animations
   ================ */
@import 'animations/a-loader';
@import 'animations/a-fade';
@import 'animations/a-fade-slide';
@import 'animations/a-slide';
@import 'animations/burger';
@import 'animations/a-bounce';
@import 'animations/a-imageScale';
@import 'animations/a-arrowGrow';
@import 'animations/a-bckSlide';
@import 'animations/a-unline';


@import 'imagery/i-imgPreload';
@import 'imagery/i-imgRatio';

/* ================
    components
   ================ */


@import 'components/btn';
@import 'components/c-Header';
@import 'components/c-topBar';
@import 'components/c-homePageSlider';
@import 'components/c-HowPelvivaWorks';
@import 'components/c-secondaryCarousel';
@import 'components/c-DiscoverYourPelvicFloorAge';
@import 'components/c-PelvivaTestimonial';
@import 'components/c-WhatIsPelviva';
@import 'components/c-clinicalEvidence';
@import 'components/c-womenHero';
@import 'components/c-PelvicFloorAgeCalculator';
@import 'components/c-WhatIsBladderLeakage';
@import 'components/c-WhatIsThePelvicFloor';
@import 'components/c-TypesOfBladderLeakage';
@import 'components/c-YourNotAlone';
@import 'components/c-WhyExerciseYourPelvicFloor';
@import 'components/c-PelvivaTechnology';
@import 'components/c-calculatorHero';
@import 'components/c-reasonsHero';
@import 'components/c-WhyPelviva';
@import 'components/c-ReasonsList';
@import 'components/c-InstructionalVideo';
@import 'components/c-DoesItAllForYou';
@import 'components/c-testimonialCards';
@import 'components/c-HowOften';
@import 'components/c-MaintainYourPelvicFloorMuscles';
@import 'components/c-Footer';
@import 'components/c-Menu';
@import 'components/c-DynamicCRC';
@import 'components/c-contactForm';
@import 'components/c-contactMap';
@import 'components/c-faqs';
@import 'components/c-reasons';

// Pre Register
@import 'components/pre-register/c-introducingPelviva';
@import 'components/pre-register/c-oneInThreeWomen';
@import 'components/pre-register/c-whatIsPelviva';
@import 'components/pre-register/c-preRegisterForm';

@import 'layout/l-container';


/* ================
    helpers
   ================ */
@import 'helpers/aspect-ratios';
@import 'helpers/bck-color';
@import 'helpers/borders';
@import 'helpers/border-styles';
@import 'helpers/border-color';
@import 'helpers/border-widths';
@import 'helpers/border-radii';
@import 'helpers/color';
@import 'helpers/clear';
@import 'helpers/floats';
@import 'helpers/hover-animations';
@import 'helpers/measure';
@import 'helpers/typeFaces';
@import 'helpers/typeStyles';
@import 'helpers/underLine';
@import 'helpers/widths';
@import 'helpers/spacings';
@import 'helpers/flex';
@import 'helpers/hide';
@import 'helpers/show';
@import 'helpers/overflow';
@import 'helpers/line-height';

@import "vertical-rhythm/framework";



body:before {
// body.show-brkpt:before {
    content          : "base--0";
    display          : block;
    padding          : 10px;
    background-color : lightgray;
    font-weight      : bold;
    // display          : none; /* Prevent from displaying. */
    position : fixed;
    z-index : 100000000;
    // z-index : 2;
    top :0;
    left : 0;
    right : 0;
    opacity: 0;
    pointer-events: none;

    @include breakpoint(small) {
        background-color : blue;
        content          : "small--1";
    }
    @include breakpoint(medium) {
        background-color : darkgoldenrod;
        content          : "medium--2";
    }
    @include breakpoint(large) {
        background-color : green;
        content          : "large--3";
    }
    @include breakpoint(xlarge) {
        background-color : darkred;
        content          : "xlarge--4";
    }
    @include breakpoint(xxlarge) {
        background-color : grey;
        content          : "xxlarge--5";
    }
    @include breakpoint(super) {
        background-color : white;
        color            : black;
        content          : "super--6";
    }
    @include breakpoint(giant) {
        background-color : black;
        color            : white;
        content          : "giant--6";
    }

}

body.show-brkpt:before {
  display : block;
  opacity: 1;
}
