.c-introducingPelviva {

  /* positioning */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  /* visual */
  //background-image: linear-gradient(to right, color(ebb), #fff);

  @include breakpoint(xlarge) {

    /* positioning */
    flex-direction: row;
  }
}

.c-introducingPelviva__main-image-wrapper {

  /* positioning */
  display: flex;
  align-items: center;
  justify-content: flex-end;

}

.c-introducingPelviva__main-image {

  /* box-model */
  max-width: 800px;
  padding-left: 20px;
  padding-right: 40px;
  margin: 0 auto;
  margin-top: -10%;

  @include breakpoint(large) {

    /* box-model */
    padding-left: 40px;
    padding-right: 0;
  }

  @include breakpoint(xlarge) {

    /* box-model */
    margin-right: 8%;
    padding-left: 0;
    margin-top: -5%;
  }

  @include breakpoint(giant) {

    /* box-model */
    margin-right: 15%;
  }
  
}


#c-introducingPelviva__msgBar {

  /* box-model */
  padding-bottom: 20px!important;

  @include breakpoint(xlarge) {

    /* box-model */
    padding-bottom: 40px!important;
  }
}


