.c-preRegisterForm__form {
	

	@include breakpoint(xlarge) {
		display: flex;
		justify-content: space-between;
	}
}

.c-preRegisterForm__form__input {
	background-color: white;
	border: none;
	border-radius: 10px;
	padding: 12px;
	height: auto!important;
}

input.c-preRegisterForm__form__submit {
	min-height: 51px;
	margin: 0!important; 
	width: 100%;

	@include breakpoint(xlarge) {
		width: auto;
	}
}

.c-preRegisterForm--icons-container {
	
	/* positioning */
	display: flex;
	align-items: center;
	justify-content: center;
}

.c-preRegisterForm--icon {

	/* box-model */
	width: 100%;
	height: 100%;
	display: inline-block;
	width: 35px;
	max-width: 35px;
	min-width: 35px;
	height: 35px;
	min-height: 35px;
	max-height: 35px;

	/* transition */
	transition: 0.45s;

	/* visual */
	color: white;

	&:hover {

		/* visual */
		opacity: 0.8;
	}
}

.c-preRegisterForm--social .c-preRegisterForm__form__input {
	background-color: color(ebb);
	border: 1px solid #e6e6e6;
}

.c-preRegisterForm--social {

	.c-preRegisterForm--icons-container {

		/* positioning */
		display: flex;
		align-items: center;
		flex-direction: column;

		@include breakpoint(large) {
			
			/* positioning */
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: row;
		}
	}

	.c-preRegisterForm--icons-wrapper {
			
		/* positioning */
		display: flex;
		align-items: center;
		justify-content: center;
	}
}