//* Structure *//

.c-whatIsPelviva-PR {


  /* Box-model */
  display: block;
  clear: both;
  overflow: hidden;

  @include breakpoint(xxlarge) {

    display: flex;

  }
}


//* Content *//


.c-whatIsPelviva-PR__video video {

  /* visual */
  box-shadow: 10px 10px 12px #a2a2a2;
  object-fit: cover;
  cursor: pointer;
}

.c-whatIsPelviva-PR__contentWrapper {

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include breakpoint(medium){

    flex-direction: row;
    justify-content: center;
  }

  @include breakpoint(xxlarge){
  align-items: flex-end;

  }
}

.c-whatIsPelviva-PR__Btn {

  align-self: center;
  margin-bottom: 20px;

  @include breakpoint(xxlarge) {

    /* Visual */
    margin-top: 100px;
  }

}

.c-whatIsPelviva-PR__box {

  width: 100%;

  @include breakpoint(medium){

    width: 50%;
  }
}
