.btn {
  display                    : inline-block;
  vertical-align             : middle;
  color                      : currentColor;
  text-align                 : center;
  font-weight                : $font-weight-bold;
  @include font-family(btn, 600);
  text-decoration            : none;
  white-space                : nowrap;
  cursor                     : pointer;
  background-image           : none;
  background-color           : transparent;
  border                     : 1px solid transparent;
  border-radius              : 0;
  line-height                : 1;
  transition-property        : color, background-color, border-color;
  transition-duration        : $speed-2;
  transition-timing-function : map_get($transitions, sine-out);
  position: relative;
  @include padding(15,45);
  letter-spacing: -0.01em;
  @include margin(0);
  -ms-touch-action           : manipulation;
  touch-action               : manipulation;
  -webkit-user-select        : none;
  -moz-user-select           : none;
  -ms-user-select            : none;
  user-select                : none;

  &:hover,
  &:focus {
	  transition-timing-function : map_get($transitions, sine-in);
  }

}

.btn:hover:after {
  width: 100%;
}

.btn--main {
  background-color: color(green);
  font-weight: 700;
  border-radius: 10px;
  color: color(white);
  display: inline-block;
  cursor: pointer;
  @include font-size(20);

  @include breakpoint(super) {
    @include font-size(26);
  }

  &:hover {
    background-color: color(blue-green);
  }
}

.btn--calculator {
  background-color: color(green);
  font-weight: 700;
  border-radius: 10px;
  color: color(white);
  display: inline-block;
  cursor: pointer;
  @include font-size(20);
  transition: opacity 0.45s;

  @include breakpoint(super) {
    @include font-size(26);
  }

  &:hover {
    opacity: 0.8;
  }
}

.btn--center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.btn--main--active {
  opacity: 0.6;

  &:hover {
    background-color: color(green);
    cursor: default;
  }
}

.btn--outline {
  min-width: 200px;
  border: 3px solid;
  border-color: color(green);
  font-size: 25px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 10px;
  color: color(green);
  display: inline-block;
  cursor: pointer;

  @include breakpoint(giant) {
    @include font-size(33);
  }

  &:hover {
    border-color: color(blue-green);
    color: color(blue-green);
  }
}

.btn--contact {
  background-color: color(blue-green);
  font-weight: 700;
  line-height: 0.5;
  border-radius: 10px;
  color: color(white);
  display: inline-block;
  cursor: pointer;
  @include font-size(20);
  transition: 0.45s;
  text-transform: none!important;
  height: auto;

  @include breakpoint(super) {
    @include font-size(26);
  }

  &:hover {
    opacity: 0.8;
  }
}



.btn--primary {
  color : color(deep-super-grey);
  background-color : transparent;
  border-color : color(deep-super-grey);

  &:hover {
    color: color(super-grey-50);
    border-color : color(super-grey-50);
  }
}

.btn--secondary {
  color : color(white);
  background-color : color(deep-super-grey);

  // &:after {
  //   background-color : color(white);
  // }

  &:hover {
    background-color: color(super-grey-20);
    border-color : transparent;
  }
}

.btn--tertiary {
  color : color(super-grey-20);
  background-color : transparent;
  border-color : color(super-grey-20);

  // &:after {
  //   background-color : color(super-grey-50);
  // }

  &:hover {
    background-color: color(super-grey-20);
    border-color : transparent;
  }
}

.btn--white {
  color : color(deep-super-grey);
  background-color : color(white);
  border-color : color(white);

  &:hover {
    background-color : color(super-grey-50);
    color : color(deep-super-grey);
    border-color : transparent;
  }
}

.btn--grey {
  color : color(deep-super-grey);
  background-color : color(super-grey-50);
  border-color : color(super-grey-50);

  &:hover {
    background-color : color(white);
    color : color(deep-super-grey);
    border-color : transparent;
  }
}

.btn--greyBorder {
  border: 1px solid;
  border-color: color(super-grey-50);
  font-weight: 700;

  @include breakpoint(large) {
    border-color: color(blue-ocean);
  }

  &:hover {
    color: color(deep-super-grey);
    border-color: color(deep-super-grey);
  }
}
