.c-clinicalEvidence {
  background: linear-gradient(to right, #ffffff, #BBE8E1);
  display: block;
  clear: both;
  overflow: hidden;

  @include breakpoint(massive){
    display: flex;
    flex-wrap: wrap;
  }

}

.c-clinicalEvidence__child-wrapper {

  @include breakpoint(xlarge) {
    display: flex;
    align-items:center;
  }
}

.c-clinicalEvidence--PR {
  background: linear-gradient(to right, #ffffff, color(ebb) );
}

.c-clinicalEvidence__borderText {
  border: 3px solid;
  border-color: color(green);
  border-radius: 5px;
  padding: 16px;
  width: auto;
}

.c-clinicalEvidence__icons-container {

  @include breakpoint(medium) {

    /* positioning */
    display: flex;
    align-items: center;
  }

  @include breakpoint(xlarge) {

    /* box-model */
    display: block;
  }
}

.c-clinicalEvidence__icon {

  /* box-model */
  max-width: 290px;
  margin-left: auto;
  margin-right: auto;


  &:first-of-type {

    @include breakpoint(medium) {

      /* box-model */
      margin-right: 30px;
    }

    @include breakpoint(xlarge) {

      /* box-model */
      margin-right: auto;
    }

  }

  @include breakpoint(super) {

    /* box-model */
    max-width: 350px;
  }
}

div.c-clinicalEvidence__heading {
  padding-bottom: 16px!important;
}

div.c-clinicalEvidence__Child {
  padding-top: 0!important;
}
