.c-contactMap {

  /* box-model */
  height: 300px;
  display: block;
  clear: both;
  overflow: hidden;

  @include breakpoint(large){

    /* box-model */
    height: 350px;
  }

  @include breakpoint(xxlarge){

    /* box-model */
    height: 500px;
  }

  @include breakpoint(super){

    /* box-model */
    height: 550px;
  }

  @include breakpoint(giant){

    /* box-model */
    height: 600px;
  }
}
