
.c-conctactFormContainer {
  float: none !important;
}

.c-contactFormWrapper {

  /* box-model */
  display: block;
  clear: both;
  overflow: hidden;
  @include padding(40, 0);

  @include breakpoint(large){
    @include padding(60, 0);
  }

  @include breakpoint(xxlarge){
    @include padding(80, 0);
  }
}

#message {
  resize: none;
  width: 100%;
}


.c-contactField {

  /* box-model */
  margin-bottom: 20px;
  min-height: 42px;
  border-radius: 5px;

  /* visual */
  background-color: color(white);
  border: none;

  /* typography */
  @include font-size(16);
  color: color(mid-grey);

}

#message {

  /* box-model */
  height: 200px;
  @include padding-top(15);
  @include padding-left(15);

}

.c-contactForm .btn {

  /* box-model */
  display: block;
  margin: 0 auto;

}

.c-contactForm__copy {

  /* box-model */
  margin-bottom: 40px! important;
}

.c-contactDetails {

  /* box-model */
  display: block;
  clear: both;
  overflow: hidden;
}

.c-contactDetails__list {

  /* box-model */
  padding: 0;

  /* visual */
  list-style: none;
}
