.c-calculatorHero {

	&__image {

		/* visual */
		background-image: url(/assets/img/home/generations.jpg);
		background-size: cover;
		background-position: 50% 20%;
		background-repeat: no-repeat;
		width: 100%;
		min-height: 300px;

		@include breakpoint(xlarge) {

			min-height: 485px;
		}
	}
}
