
.c-DiscoverYourPelvicFloorAge {

  display: block;
  clear: both;
  overflow: hidden;


  @include breakpoint(xxlarge){

    display: flex;
  }
}

.c-DiscoverYourPelvicFloorAge__image {

  height: 300px;

  @include breakpoint(xxlarge){

    height: auto;
  }
}



.c-DiscoverYourPelvicFloorAge__Child--right {

  /* Flex */
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.c-DiscoverYourPelvicFloorAge__Child--left {

  /* Visual */
  background-image: url(/assets/img/home/generations.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30%;
}

.c-DiscoverYourPelvicFloorAge--btn {

  /* Flex */
  align-self: baseline;

}


//* Content **//

.c-DiscoverYourPelvicFloorAge__SubHeader {

  @include breakpoint(giant) {

  /* Visual */
  padding-right: 90px;

  }
}
