.c-DynamicCRC {

	display: flex;
	flex-direction: column-reverse;
	flex-wrap: wrap;

	@include breakpoint(xlarge) {
		flex-direction: row;
	}

	@include breakpoint(xxlarge) {
		min-height: 850px;
	}

	@include breakpoint(super) {
		min-height: 1024px;
	}

	&__intro {
		order: 3;

		@include breakpoint(xlarge) {
			order: 0;
		}
	}
 
	&__text-wrapper {
		order: 2;
		position: relative;


		@include breakpoint(xlarge) {
			order: -1;
		}
	}

	&__textbox {
		opacity: 0;
		visibility: visible;
		position: absolute;
		top: 0;
		left: 0;
		transition: 0.4s ease;
	}

	&__icon-container {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
	}

	&__icon-wrapper {
		width: 30%;
		transition: 0.45s;
		position: relative;
		display: flex;
		justify-content: center;

		& svg {
			border-radius: 99em;
			-webkit-border-radius: 99em;
			transition: 0.45s;
		}

		& .c-DynamicCRC__icon-shadow svg {
			border-radius: none;
		}

		&:hover {
			transform: translateY(-7.5px);

			& svg {
				box-shadow: 0 0 40px rgba( color(light-green-blue), 1)
			}

			& .c-DynamicCRC__icon-shadow {
				opacity: 1;
				transform: scale(0.9);
			}

			& .c-DynamicCRC__icon-shadow svg {
				box-shadow: none;
			}
		}
	}

	&__icon {
		width: 90px;
		height: 80px;
		cursor: pointer;
		transition: 0.45s;

		@include breakpoint(large) {
			width: 120px;
			height: 110px;
		}

		@include breakpoint(xxlarge) {
			width: 140px;
			height: 130px;
		}

		@include breakpoint(super) {
			width: 200px;
			height: 200px;
		}
	}

	&__icon-shadow {
		transform: translateY(7.5px);
		z-index: -1;
		opacity: 0;
		transform: scale(0.8);
		max-width: 190px;
		position: absolute;
		top: 97%;
		width: 100%;
		max-height: 190px;
		height: 100%;
		transition: 0.45s;
	}
}

.hoverShow {
	opacity: 1;
	visibility: visible;
}
