.c-DoesItAllForYou {

	/* positioning */
	display: flex;
	flex-direction: column;

	@include breakpoint(xxlarge) {
		flex-direction: row;
	}

	&__main-image {
		width: 100%;
	}

	&__info {
		@include padding(20,20,20, 20);

		@include breakpoint(large) {
			@include padding(40,40,40,0);
		}

		@include breakpoint(massive) {
			@include padding(60,60,60,0);
		}

		@include breakpoint(giant) {
			@include padding(80,80,80,0);
		}

		&__text-wrapper {
			@include padding-left(20);

			@include breakpoint(large) {
				@include padding-left(40);
			}

			@include breakpoint(massive) {
				@include padding-left(60);
			}

			@include breakpoint(giant) {
				@include padding-left(80);
			}
		}
	}

	&__points {

		&__text {
			@include padding(0, 0, 20, 0);
			border-bottom: 2px solid white;
			margin-bottom: 0;
			order: 2;

			@include breakpoint(large){
				max-width: 700px;
			}

			@include breakpoint(xlarge) {
				@include padding(50, 50, 50, 0);
				order: 1;
			}
		}

		&__block {
			display: flex;
			align-items: center;
			flex-direction: column;

			@include breakpoint(xlarge) {
				flex-direction: row;
				justify-content: space-between;
			}

			&:first-of-type {
				@include margin-bottom(30);

				@include breakpoint(xlarge) {
					@include margin-bottom(0);
					@include margin-top(-40);
				}
			}

			&:last-of-type {

				.c-DoesItAllForYou__points__text {
					border-bottom: none;
					padding-bottom: 0;

					@include breakpoint(xlarge) {
						@include padding(50, 50, 50, 0);
					}
				}
			}
		}

		&__icon {
			width: 220px;
			height: 220px;
			order: 1;

			@include breakpoint(xlarge) {
				order: 2;
				width: 200px;
			}

			@include breakpoint(xxlarge) {
				width: 290px;
				height: 170px;
			}

			@include breakpoint(super) {
				width: 250px;
			}

			@include breakpoint(giant) {
				width: 230px;
			}
		}
	}
}
