.c-faqs__question {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: color(green);
	cursor: pointer;
	transition: 0.45s;

	&:hover {
		background-color: color(blue-green);
	}
}

.c-faqs__question-block--active .c-faqs__question {
	background-color: color(blue-green);
}

.c-faqs__question-arrow {
	margin-left: 5px;
	width: 25px;
	height: 25px;
}

.c-faqs__question-block--active .c-faqs__question-arrow {
	transform: rotate(-180deg);
}

.c-faqs__answer {
	max-height: 0px;
	transition: max-height 1.25s ease-in-out;
	overflow: hidden; 

}

.c-faqs__question-block--active .c-faqs__answer {
	max-height: 1000px;
}
