.c-Footer {

	/* visual */
	background-image: url(/assets/img/Footer/Footer-bg.jpg);
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;

	&__top {
		border-bottom: 2px solid white;

	}

	&__login-wrapper {

		@include breakpoint(large) {
			display: flex;
			justify-content: flex-end;
		}
	}

	&__login {
		display: block;
		border: 5px solid color(green);
		display: flex;
		max-width: 275px;
		transition: 0.45s;

		&:hover {
			opacity: 0.8;
		}

		&__text {
			padding: 11px 45px;
			line-height: 1!important;
			text-align: center;
			width: 100%;
			transition: 0.45s;
		}

		&__icon__wrapper {
			background-color: color(green);
			display: flex;
			align-items: center;
			padding: 8px;
			padding-right: 12px;
			padding-top: 4px;
		}

		&__icon {
			max-width: 25px;
			max-height: 25px;
			height: 25px;
			width: 25px;
			min-width: 25px;
			min-height: 25px;
			vertical-align: middle;
		}
	}

	&__logo {
		max-width: 200px;
		display: block;
	}

	&__bottom {

		&__links {

			@include breakpoint(large) {
				display: flex;
				justify-content: flex-end;
			}
		}

		&__navigation {
			list-style-type: none;
			padding: 0;


			&__link {

				&:hover {
					text-decoration: underline;
				}
			}
		}

		&__social-icon {
			width: 100%;
			height: 100%;
			display: inline-block;
			max-width: 32px;
			max-height: 32px;
			min-width: 32px;
			min-height: 32px;
			transition: 0.45s;
			color: white;

			&:hover {
				opacity: 0.8;
			}
		}
	}
}
