.c-homePageSlider__wrapper {

  /* box-model */
  display: block;
  clear: both;
  overflow: hidden;
}

.c-homePageSlider {

  /* box-model */
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 380px;

  /* Visual */
  background-image: url(/assets/img/homePageSlider/homePageSliderBg-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include breakpoint(large) {

    /* box-model */
    height: 510px;
  }

  @include breakpoint(xlarge) {
    
    /* visual */
    background-image: url(/assets/img/homePageSlider/homePageSliderBg-2.jpg);
  }

  @include breakpoint(super) {

    /* box-model */
    height: 741px;
  }

}

.c-homePageSlider__image {

  /* box-model */
  margin-top: 20px;

  @include breakpoint(large) {

    /* box-model */
    margin-top: 40px;
  }

  @include breakpoint(massive) {

    /* box-model */
    margin-top: 60px;
  }

  @include breakpoint(giant) {

    /* box-model */
    margin-top: 80px;
  }
}

.c-homePageSlider2 {

  /* box-model */
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 380px;

  /* Visual */
  background-image: url(/assets/img/homePageSlider/homePageSliderBg-4.jpg);
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;


  @include breakpoint(large) {

    /* box-model */
    height: 510px;
  }

  @include breakpoint(xxlarge) {

    /* visual */
    background-image: none;
  }

  @include breakpoint(super) {

    /* box-model */
    height: 741px;
  }
}

.c-homePageSlider__content {

  @include breakpoint(large) {

    /* positioning */
    position: absolute;
    z-index: 0;
  }
}
