
/** Header **/

.Header__Wrapper {

  /* Visual */
  border-bottom: 10px solid;
  border-color: #cbc8c7;
  height: 80px;

  /* Breakpoint */
  @include breakpoint(xlarge) {

  /* Visual */
    height: 95px;

  }

}

.Header__InnerWrapper {

  /* Visual */
  padding-top: 0 !important;
  padding-bottom: 0 !important;

  height: 100%;

}

.Header__Child {

  /* Visual */
  height: 100%;
  display: flex;
  align-items: center;

}

.Header__Child--right {

  /* Visual */
  justify-content: flex-end;

}


/** Pelviva Logo Top Left **/


.pelvivaLogo {

  /* Visual */
  width: 120px;
  @include margin-top(10);

  @include breakpoint(xlarge) {

    /* Visual */
    width: 190px;
  }

}


/** Burger Menu Top Right **/

.burgerMenu {

  /* Flex */
  display: flex;
  align-items: center;

  /* Visual */
  @include font-size(30);
  font-weight: bold;
  cursor: pointer;

}

.burgerMenu__text {

  /* Visual */
  display: none;

  @include breakpoint(xlarge) {

    /* Visual */
    display: block;

  }

}

.burgerMenu__icon {

  /* Visual */
  @include margin-left(10);
  @include font-size(20);

  @include breakpoint(xlarge) {

    /* Visual */
    @include font-size(40);

  }

}
