.c-HowOften {

	/* positioning */
	display: flex;
	flex-direction: column;

	@include breakpoint(xlarge) {
		flex-direction: row;
	}

	&__main-image {
		/* visual */
		background-image: url(/assets/img/HowOften/HowOften-main-image.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		/* box-model */
		min-height: 300px;

		@include breakpoint(xlarge) {
			min-height: none;
		}
	}

	&__text-image {
		max-width: 380px; 
		margin: 0 auto;

		@include breakpoint(xxlarge) {
			float: right;
			margin-top: 20px;
		}
	}

	&__text-wrapper {

		/* visual */
		background-image: linear-gradient(to right, #eed4c3, #fff);
	}
}