//* Structure *//

.c-howPelvivaWorks {

  /* Box-model */
  display: block;
  clear: both;
  overflow: hidden;

  @include breakpoint(xxlarge) {
    
    /* positioning */
    display: flex;

  }
}

.c-howPelvivaWorks__video video {
  
  /* visual */
  box-shadow: 10px 10px 12px #a2a2a2;
  object-fit: cover;
  cursor: pointer;
  
}

.c-howPelvivaWorks__image {

  /* box-model */
  max-width: 340px; 

  @include breakpoint(super) {

    /* box-model */
    max-width: 430px;

    /* positioning */ 
    float: right;
    margin-left: -100px;
  }
}

.c-howPelvivaWorks__bottom {

  /* positioning */
  display: flex;
  flex-direction: column;

  @include breakpoint(large) {

    /* positioning */
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.c-howPelvivaWorks__btn {

  /* positioning */
  order: 2;
  align-self: flex-start;

  @include breakpoint(large) {

    /* positioning */
    order: 0;
  }
}