.c-InstructionalVideo {

	/* positioning */
	display: flex;
	flex-direction: column;

	@include breakpoint(xlarge) {
		flex-direction: row;
	}

	&__video video {

		/* visual */
		box-shadow: 10px 10px 12px #a2a2a2;
		object-fit: cover;
		cursor: pointer;
	}
}