.c-MaintainYourPelvicFloorMuscles {

	/* positioning */
	display: flex;
	flex-direction: column;

	@include breakpoint(xlarge) {

		/* positioning */
		flex-direction: row;
	}
}

.c-MaintainYourPelvicFloorMuscles__main-image {

	/* visual */
	background-image: url(/assets/img/MaintainYourPelvicFloorMuscles/MaintainYourPelvicFloorMuscles-main-image.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	/* box-model */
	min-height: 300px;

	/* positioning */
	order: 1;

	@include breakpoint(xlarge) {

		/* positioning */
		order: 2;

		/* box-model */
		min-height: none;
	}
}

.c-MaintainYourPelvicFloorMuscles__text-wrapper {

	/* positioning */
	order: 2;

	/* visual */
	background-image: linear-gradient(to left, #cfefea, #bae8e1);

	@include breakpoint(xlarge) {

		/* positioning */
		order: 1;
	}
}