.c-Menu {
  position: fixed;
  right: -100%;
  top: 0;
  transition: right 0.45s;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  z-index: 2;
  @include padding(40);
  
  @include breakpoint(large) {
    @include padding(60);
  }

  @include breakpoint(giant) {
    @include padding(120);
  }

  &.open {
    right: 0;
  }

  &__navigation {
    width: 100%;
    list-style-type: none;
    margin: 0;

    &__item {
      text-align: right;
      width: auto;
    }

    &__link {
      transition: 0.2s;

      &:hover {
        color: color(blue-green);
      }
    }
  }

  .menu-toggle {
    @include font-size(71);
    z-index: 2;
    cursor: pointer;
    transition: 0.2s;
    line-height: 0.5;

    &:hover {
      color: color(blue-green);
    }

    @include breakpoint(large) {
      @include font-size(100);
    }
  }
}