.c-PelvivaTechnology {

	@include breakpoint(xlarge) {
		display: flex;
	}

	&__video video {

		/* visual */
		box-shadow: 10px 10px 12px #a2a2a2;
		object-fit: cover;
		cursor: pointer;
	}

	&__interactive-element {
		min-height: 500px;
		background-color: color(white);

		@include breakpoint(xlarge){
			background-color: transparent;
			background-image: linear-gradient(to left, white, transparent);
		}

		&__image-wrapper {
			position: relative;
		}


		&__hover-icon {
			width: 70px;
			height: 50px;
			position: absolute;
			transition: 0.45s;
			opacity: 0.6;
			cursor: pointer;

			@include breakpoint(xxlarge){
				width: 90px;
				height: 70px;
			}

			&:hover {
				opacity: 1;
				transform: scale(1.05);
			}

			&--1 {
				top: 36%;
				right: -3%;
			}

			&--2 {
				top: -8%;
				right: 25%;
			}


			&--3 {
				top: -17%;
				right: 45%;
			}

			&--4 {
				top: 31.5%;
				right: 61.6%;
			}

			&--5 {
			    top: 48%;
			    right: 38.6%;
			}
		}

		&__hover-text {
			display: block;

			@include breakpoint(xlarge) {
				display: none;
			}
		}
	}

	&__main-image {
		max-width: 570px;
		display: block;
	}

}
