.c-PelvicFloorAgeCalculator__container {
}

.c-PelvicFloorAgeCalculator__question-block {
	flex-wrap: wrap;
	display: flex;
	align-items: flex-start;
	justify-content: center;

	@include breakpoint(xlarge) {
		flex-wrap: nowrap;
	}

}

.c-PelvicFloorAgeCalculator__btn-wrapper {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;

	@include breakpoint(xxlarge) {
		align-items: center;
		flex-direction: row;
	}

	> .btn {

		&:first-of-type {
			order: 2;

			@include breakpoint(xxlarge) {
				order: 0;
			}
		}
	}
}

.c-PelvicFloorAgeCalculator__question__image {
	order: -1;

	@include breakpoint(xlarge) {
		order: 1;
	}
}

.c-PelvicFloorAgeCalculator__question__option {
	display: flex;
	align-items: flex-start;
}

.c-PelvicFloorAgeCalculator__question__label {
	margin: 0;
}

input.c-PelvicFloorAgeCalculator__question__input {
	margin: 0;
	width: auto!important;
	height: auto!important;
}

input.c-PelvicFloorAgeCalculator__question__input--radio {
	@include margin-right(10);
	@include margin-top(10);
}

input.c-PelvicFloorAgeCalculator__question__input--text {
	border: none;
	width: 100%!important;
}


.c-PelvicFloorAgeCalculator__question__errorBag {
	background-color: rgba(0,0,0,0.10);
	padding: 5px 10px;
	width: auto;
 }

.c-PelvicFloorAgeCalculator__question__errorBag__message {
	color: white;

}

input.c-PelvicFloorAgeCalculator__user-email {
	border: none;
}















