//* Structure *//
.c-PelvivaTestimonial {

  /* Flex */
  display: block;
  clear: both;
  overflow: hidden;


  @include breakpoint(xxlarge){

    /* Flex */
    display: flex;
    flex-direction: row-reverse;

  }

  @include breakpoint(giant){

    height: 680px;
  }

}

.c-PelvivaTestimonial--alternate {

  @include breakpoint(xxlarge) {

    /* Flex */
    flex-direction: row;
  }
}

.c-PelvivaTestimonial__image {

  height: 300px;

  @include breakpoint(xxlarge){

    height: auto;
  }

}


.c-PelvivaTestimonial__Child--right {

  /* Flex */
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.c-PelvivaTestimonial__Child--right--alternate {

  background: linear-gradient(to right, #e4e4e4, #ffffff);
}

.c-PelvivaTestimonial__Child--left {

  /* Visual */
  background-image: url(/assets/img/home/female.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  @include breakpoint(large){
    justify-content: flex-end;
  }

}

.c-PelvivaTestimonial--btn {

  /* Flex */
  align-self: baseline;

}


//* Content **//

.c-PelvivaTestimonial__SubHeader {

  @include breakpoint(giant) {

  /* Visual */
  padding-right: 90px;

  }
}

.c-PelvivaTestimonial__caption {

  background-color: rgba(255,255,255,0.6);
  max-width: 270px;
  border-radius: 25px;
  padding: 20px 10px;
  margin-bottom: 20px;

  @include breakpoint(large){
    margin-right: 60px;
  }

  @include breakpoint(xxlarge){
    max-width: 420px;
    margin-right: 100px;
    margin-bottom: 50px;
  }
}

.c-PelvivaTestimonial__caption__icon {

  width: 30px;
  height: 30px;
  display: block;
  margin: 0 auto;
}
