.c-HowDoYouKnow {

	/* positioning */
	display: flex;
	flex-direction: column;

	@include breakpoint(xlarge) {
		flex-direction: row;
	}
}

.c-HowDoYouKnow .btn {

	/* positioning */
	float: left;

	@include breakpoint(xlarge) {

		/* positioning */
		float: right;
	}
}

.c-HowDoYouKnow__main-image {

	/* visual */
	background-image: url(/assets/img/Reasons/reasons-main-image.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	/* box-model */
	min-height: 300px;

	@include breakpoint(xlarge) {
		min-height: none;
	}
}

.c-HowDoYouKnow__text-wrapper {

	/* visual */
	background-image: linear-gradient(to right, #cfefea, #bae8e1);
}





