.c-reasonsHero {

	&__image {
		
		/* visual */
		background-image: url(/assets/img/Reasons/reasonsHero2.png);
		background-size: contain;
		background-position: right 60px;
		background-repeat: no-repeat;

		@include breakpoint(xlarge) {
			display: flex;
			align-items: center;
			min-height: 800px;
		}

		&__caption {
			background-color: rgba(255,255,255, 0.8);
			border-radius: 15px;
			@include padding(60, 30);
		}
	}
}