.c-topBar {

/* Visual */
height: 45px;
background-image: url('/assets/img/site-wide/topbar-mobile.jpg');
background-size: cover;
background-position: left;
background-repeat: no-repeat;

  @include breakpoint(large) {
    /* Visual */
    background-image: url('/assets/img/site-wide/topbar-tablet.jpg');
  }

    @include breakpoint(xlarge) {
      /* Visual */
      height: 60px;
      background-image: url('/assets/img/site-wide/topbar-desktop.jpg');
    }

}

/** Basket Icon Top Right **/

.basketIcon__wrapper {

  /* Flex */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Positioning */
  float: right;

  /* Box Model */
  height: 100%;
  padding: 0px 10px;

  /* Visual */
  background-color: color(green);

  @include breakpoint(large) {
    padding: 0px 20px;
  }

  @include breakpoint(xlarge) {

    /* Box Model */

  }

  &:hover {
    background-color: color(blue-green);
  }

}


.basketIcon {

  /* Visual */
  width: 20px;
  @include margin-top(5);

  @include breakpoint(large) {

  }

  @include breakpoint(xlarge) {

    /* Visual */
    width: 30px;

  }

}

.basketIcon__text {

  /* Visual */
  @include font-size(16);
  @include margin-left(10);
  color: color(white);
  font-weight: 600;

  @include breakpoint(large) {

  }

  @include breakpoint(xlarge) {

    /* Visual */
    @include font-size(26);

  }

}
