//* Structure *//

.c-TypesOfBladderLeakage {

	@include breakpoint(xlarge) {
		display: flex;
	}

	&__main-image {
		min-height: 300px;

		/* visual */
		background-image: url('../img/TypesOfBladderLeakage/TypesOfBladderLeakage-main-image.jpg');
		background-size: cover;
	}

	&__text {

		&-wrapper {
			background-image: linear-gradient(45deg, #e7e7e7, #fff 25%);
		}

		&--bottom {

			/* box-model */
			@include padding(20, 30);

			/* visual */
			background-color: #c7c7c7;

			@include breakpoint(large){
				/* visual */
				background-color: transparent;
				background-image: linear-gradient(to right, #c7c7c7, #fefefe);
			}
		}
	}

}
