.c-WomenHero {
}


.c-WomenHero__content-wrapper {
  background-image: linear-gradient(to right, color(light-green), white);


  @include breakpoint(xlarge) {
    display: flex;
  }
}

.c-WomenHero__Child--right {

  background-size: cover;
  min-height: 200px;
  background-image: url(/assets/img/oneInThreeWomen/OneInThreeWomen.png);
  background-repeat: no-repeat;
  background-position: top right;

  @include breakpoint(large) {
    min-height: 300px;
  }

  @include breakpoint(xlarge) {
    background-size: contain;
    background-position: center;
  }

  @include breakpoint(giant) {
    background-size: cover;
    background-position: top right;
  }
}

.c-WomenHero__Header {

  margin-bottom: 10px;

}

.c-WomenHero__SubHeader {

  line-height: 1;

}

.c-WomenHero__copy {

  margin-top: 30px;
}
