//* Structure *//

.c-WhatIsThePelvicFloor {


	&__content-wrapper {
		/* visual */
		background-image: linear-gradient(to right, #ddd, #fefefe 42%);

		/* box-model */
		@include breakpoint(xlarge) {
			display: flex;
		}
	}

	// Main Image
	&__image-main {

		/* box-model */
		padding: 20px 20px 40px 20px;

		@include breakpoint(xlarge) {
			padding-right: 20px;
			position: absolute;
			top: 50%;
			right: 20px;
			height: 100%;
			transform: translateY(-50%);
		}

		@include breakpoint(xxlarge) {
			padding: 0px;
		}
	}

	&__image-main-wrapper {
		position: relative;
	}

	&__text {

		/* box-model */
		max-width: 760px;

	}


}