.c-WhyPelviva {

  display: block;
  clear: both;
  overflow: hidden;

  @include breakpoint(large){

    display: flex;
    flex-wrap: wrap;
  }

}

.c-WhyPelviva__ImageWrapper {

  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.c-WhyPelviva__Image {

  width: 100%;

}

.c-WhyPelviva__Copy--top {

  margin-bottom: 20px;

}

.c-WhyPelviva__Header {
  position: relative;
}

div.c-WhyPelviva__Child {
  padding-top: 0!important;
}

div.c-WhyPelviva__header {
  padding-bottom: 30px!important;
}

.c-WhyPelviva__Copy--bottom {

  border-right: 2px solid white;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  padding-top: 10px;
  padding-bottom: 10px;
  background: linear-gradient(to right, transparent, rgba(255, 2555, 255, 0.4) 25%);
  border-image: linear-gradient(to right, transparent, white);
  border-image-slice: 1;

}

.c-WhyPelviva--pr .c-WhyPelviva__ImageWrapper {
  height: 100%;
}
