//* Structure *//

.c-WhyExerciseYourPelvicFloor {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	background-image: linear-gradient(45deg, #f6fcfa, #bfe8e0);

	@include breakpoint(xlarge) {
		flex-direction: row;
	}

	&--inner {
		background-image: none;
	}

	&__main-image {
		min-height: 300px;

		/* visual */
		background-image: url('../img/WhyExerciseYourPelvicFloor/WhyExerciseYourPelvicFloor-main-image.jpg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;


		&--pregnancy {
			background-image: url('../img/WhyExerciseYourPelvicFloor/WhyExerciseYourPelvicFloor-pregnancy-image.jpg');

			@include breakpoint(xlarge) {
				min-height: 1080px;

			}	
		}
	
		&--sport {
			background-image: url('../img/WhyExerciseYourPelvicFloor/WhyExerciseYourPelvicFloor-sport-image.jpg');
			background-position: top;
			
			@include breakpoint(xlarge) {
				min-height: 710px;
			}
		}

		&--menopause {
			background-image: url('../img/WhyExerciseYourPelvicFloor/WhyExerciseYourPelvicFloor-menopause-image.jpg');

			@include breakpoint(xlarge) {
				min-height: 710px;
			}
		}
	}

	&__text {

		&-wrapper {

			/* positioning */
			order: 1;

			@include breakpoint(xlarge) {
				order: 0;
			}

			&--pregnancy,
			&--straining,
			&--menopause,
			&--surgery {
				background-image: linear-gradient(to right, #c7c7c7, #e0e0e0);
			}
		}

		&--bottom {

			/* box-model */
			@include padding(20, 30);

			/* visual */
			background-image: linear-gradient(to right, #c7c7c7, #fefefe);
		}
	}

	&__btn-wrapper {

		/* positioning */
		order: 2;

		@include breakpoint(xxlarge) {
			order: 0;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		.btn {
			width: 100%;

			@include breakpoint(xxlarge) {
				width: auto;
			}
		}

	}
}