//* Structure *//

.c-WhatIsPelviva {
  
  /* visual */
  background: linear-gradient(#BBE8E1, #ffffff);
}

.c-WhatIsPelviva__intro {

  @include breakpoint(xlarge) {
    display: flex;
    align-items: flex-end;
  }
}

.c-WhatIsPelviva__intro__text {

  /* visual */
  border-bottom: 2px solid white;

  /* box-model */
  padding: 0;
}


.c-WhatIsPelviva__intro__feature {
  
  /* box-model */
  padding: 0;

  /* positioning */
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include breakpoint(xxlarge) {

    /* positioning */
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}


.c-WhatIsPelviva__intro__feature__btn {

  @include breakpoint(xlarge) {
    
    /* positioning */
    order: 2;
  }

  @include breakpoint(xxlarge) {
    
    /* positioning */
    order: 0;
  }
}

.c-WhatIsPelviva__intro__feature__image {

  /* box-model */
  width: 100%;

  @include breakpoint(xlarge) {

    /* box-model */
    max-width: 275px; 
  }

  @include breakpoint(xxlarge) {

    /* positioning */
    margin-bottom: -40px;
  }

  @include breakpoint(super) {

    /* box-model */
    max-width: 350px;
  }

  @include breakpoint(giant) {

    /* box-model */
    max-width: 420px;
  }
}

.c-WhatIsPelviva__pointers {

  @include breakpoint(giant) {

    /* positioning */
    display: flex;
  }
}

.c-WhatIsPelviva__pointer {

  /* positioning */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include breakpoint(large) {
  
  /* positioning */
  flex-direction: row;
  align-items: stretch;

  }
}

.c-WhatIsPelviva__pointer__icon {

  /* box-model */  
  width: 220px;
  min-width: 220px;
  max-width: 220px;
  height: 220px;
  min-height: 220px;
  max-height: 220px;

  /* positioning */
  position: relative;
  
  /* visual */
  border-radius: 99em;
  box-shadow: 0px 10px 25px rgba(0,0,0,0.3);

  @include breakpoint(large) {

    /* visual */
    box-shadow: 10px 5px 25px rgba(0,0,0,0.3);
  }
}

.c-WhatIsPelviva__pointer__content {

  /* positioning */
  display: flex;
  align-items: center;
  justify-content: center;
  
  /* box-model */
  @include padding(20);
  @include margin-top(-110);
  @include padding-top(120);
  width: 220px;

  /* visual */
  background: white;

  @include breakpoint(large) {

    /* box-model */
    margin-top: 0;
    padding: 10px;
    padding-right: 20px;
    width: auto;
    @include margin-left(-110);
    @include padding-left(130);
  }

}
