//* Structure *//

.c-WhatIsBladderLeakage {

	&__content-wrapper {
	
		/* Visual */
		background-image: linear-gradient(to right, #c7c7c7, #e0e0e0);
		background-size: cover;

		/* box-model */
		clear: both;

		@include breakpoint(large) {
			display: flex;
		}

	}

	// Main Image
	&__image-main {

		/* visual */
		background-image: url('../img/WhatIsBladderLeakage/WhatIsBladderLeakage-main2.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 100%;
		display: none;
	}

	// Pointer
	&__pointer {	

		/* variable */	
		$pointerSizing : 137.5px;
	
		/* box-model */
		max-width: $pointerSizing * 2;
		float: none;
		margin-left: auto;
		margin-right: auto;

		@include breakpoint(xxlarge) {
			float: left;
		}

		// Pointer Icon
		&__icon {

			/* box-model */		
			margin: 0 auto;
			width: 100%;
			max-width: $pointerSizing * 2;
		}

		// Gradient Wrapper
		&__gradient-wrapper {

			/* box-model */
			@include padding(0, 10);
			padding-top: $pointerSizing + 20px;
			padding-bottom: 30px;
			margin-top: -$pointerSizing;

			/* visual */
			background-image: linear-gradient(to top, rgba(255,255,255,1), rgba(255,255,255,0));
		}

		// Pointer Text
		&__text {

			/* typography */
			line-height: 1.25!important;
		}
	}

	&__text {

		/* box-model */
		max-width: 760px;

	}
}


.c-WhatIsBladderLeakage__answer {

	/* box-model */
	width: 100%;
	overflow: hidden;
	padding-top: 0!important;
	/* animation */
	transition: max-height 1.25s, padding-bottom 1.25s; 
}

.c-WhatIsBladderLeakage__answer--hidden {
	padding: 0!important;
	visibility: hidden;
	max-height: 0;
}


.c-WhatIsBladderLeakage__answer--visible {
	max-height: 500px;
	visibility: visible;
}

