//* Structure *//

.c-YourNotAlone {
	display: flex;
	flex-direction: column;

	@include breakpoint(xlarge) {
		flex-direction: row;
	}

	&__main-image {
		min-height: 300px;

		/* visual */
		background-image: url(/assets/img/home/generations.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	&__text {

		&-wrapper {
			
			/* visual */
			background-image: linear-gradient(45deg, #d0ede8, #fff 40%);

			/* positioning */
			order: 1;

			@include breakpoint(xlarge) {
				order: 0;
			}
		}

		&--bottom {

			/* box-model */
			@include padding(20, 30);

			/* visual */
			background-image: linear-gradient(to right, #c7c7c7, #fefefe);
		}
	}

}