.c-secondaryCarousel__wrapper {

  /* box-model */
  display: flex;
  clear: both;
  overflow: hidden;

  flex-direction: column-reverse;

  @include breakpoint(large) {
    display: flex;
    flex-direction: row;
  }
}

.c-secondaryCarousel {

  /* box-model */
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  /* Visual */
  background-image: url(/assets/img/secondaryCarousel/secondaryCarousel1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -2;
  min-height: 300px;

  height: auto;

  @include breakpoint(large) {
    min-height: 500px;
  }

  @include breakpoint(xxlarge) {
    min-height: 700px;
  }
}

.c-secondaryCarousel2 {
  /* Visual */
  background-image: url(/assets/img/secondaryCarousel/secondaryCarousel2.jpg);

}

.c-secondaryCarousel3 {
  /* Visual */
  background-image: url(/assets/img/secondaryCarousel/secondaryCarousel3.jpg);

}

.flickity-page-dots {

  position: relative !important;
}


.c-secondaryCarousel__quotes {
  
  @include breakpoint(xxlarge) {
    
    display: flex;
    align-items: center;
  }
}