.testimonialCards {

  display: block;
  clear: both;
  overflow: hidden;
}

.testimonialCards__Wrapper {

  display: block;
  clear: both;
  overflow: hidden;
}

.testimonialCard__details {

  padding: 20px;
  border: 2px solid;
  border-color: color(blue-green);
  border-radius: 10px;
}
