@mixin abs-pos($arg...) {
  position : absolute;

  @if length($arg) < 1 {
	top    : auto;
	right  : auto;
	bottom : auto;
	left   : auto;
  }

  @if length($arg) == 1 {
	top    : nth($arg, 1);
	right  : nth($arg, 1);
	bottom : nth($arg, 1);
	left   : nth($arg, 1);
  }

  @if length($arg) == 2 {
	top    : nth($arg, 1);
	right  : nth($arg, 2);
	bottom : nth($arg, 1);
	left   : nth($arg, 2);
  }

  @if length($arg) == 3 {
	top    : nth($arg, 1);
	right  : nth($arg, 2);
	bottom : nth($arg, 3);
	left   : nth($arg, 2);
  }

  @if length($arg) >= 4 {
	top    : nth($arg, 1);
	right  : nth($arg, 2);
	bottom : nth($arg, 3);
	left   : nth($arg, 4);
  }
}