@mixin border-arrow-down( $amount : 10px, $color : black ) {

  width: 0;
  height: 0;
  $value : ($amount / 2);

  top: calc(50% - #{$value});

  border-left: $amount solid transparent;
  border-right: $amount solid transparent;
  border-top: $amount solid $color;

}

@mixin border-arrow-up( $amount : 10px, $color : black ) {

  width: 0;
  height: 0;
  $val : ($amount / 2);
  $value : ($amount + $val);

  top: calc(50% - #{$value});
  border-top: $amount solid transparent;
  border-left: $amount solid transparent;
  border-right: $amount solid transparent;

  border-bottom: $amount solid $color;
}
