@mixin grid-columns($cols, $mgn){
  float: left;
  width: ((100% - (($cols - 1) * $mgn)) / $cols );
  margin-right: $mgn;
  margin-bottom: $mgn;
  &:nth-of-type(#{$cols}n){
    margin-right: 0;
  }
}
