@mixin margin-direction($size, $direction:bottom, $fontSize: $base-font-size) {
  @if $size != 0 {
	margin-#{$direction}: $size + px;
	margin-#{$direction}: px2rem($size, $fontSize);
  } @else {
	margin-#{$direction}: 0;
  }
}
@mixin margin-top($size, $fontSize: $base-font-size) {
  @include margin-direction($size, top, $fontSize);
}
@mixin margin-right($size, $fontSize: $base-font-size) {
  @include margin-direction($size, right, $fontSize);
}
@mixin margin-bottom($size, $fontSize: $base-font-size) {
  @include margin-direction($size, bottom, $fontSize);
}
@mixin margin-left($size, $fontSize: $base-font-size) {
  @include margin-direction($size, left, $fontSize);
}


@mixin margin($arg...) {
  @if length($arg) < 1 {
	margin : auto;
  }

  @if length($arg) == 1 {
	margin : nth($arg, 1) + px;
	margin : px2rem(nth($arg, 1));
  }

  @if length($arg) == 2 {
	margin : nth($arg, 1) + px nth($arg, 2) + px;
	margin : px2rem(nth($arg, 1)) px2rem(nth($arg, 2));
  }

  @if length($arg) == 3 {
	margin : nth($arg, 1) + px nth($arg, 2) + px nth($arg, 3) + px;
	margin : px2rem(nth($arg, 1)) px2rem(nth($arg, 2)) px2rem(nth($arg, 3));
  }

  @if length($arg) >= 4 {
	margin : nth($arg, 1) + px nth($arg, 2) + px nth($arg, 3) + px nth($arg, 4) + px;
	margin : px2rem(nth($arg, 1)) px2rem(nth($arg, 2)) px2rem(nth($arg, 3)) px2rem(nth($arg, 4));
  }
}
