@mixin pxrem( $property, $size, $fontsize: $base-font-size-px){
  #{$property}:$size + px;

  #{$property}: pixels-to-rem($size, $fontsize);
}

@function pixels-to-rem($pixels, $fontsize: $base-font-size-px){
  @if ($pixels == 0) {
    @return 0;
  }

  @return ($pixels /  ((16 / 100) * $fontsize)) + rem;
}