


.l-container {
  // border-left : 1px solid;
  // border-right : 1px solid;
  margin-left : auto;
  margin-right : auto;
  width : 100%;
  max-width : 1920px;
  //
  @include padding-left(20);
  @include padding-right(20);
  @include padding-top(20);
  @include padding-bottom(20);

  @include breakpoint(large){
    @include padding-left(40);
    @include padding-right(40);
    @include padding-top(40);
    @include padding-bottom(40);
  }

}


.l-container\@giant {
  @include breakpoint(giant){
    margin-left : auto;
    margin-right : auto;

    // @include padding-left(0);
    // @include padding-right(0);
    width : 100%;
    max-width : 1920px;
  }
}
.l-container\@super {
  @include breakpoint(super){
    margin-left : auto;
    margin-right : auto;


    width : 100%;
    max-width : 1920px;
  }

  @include breakpoint(giant){
    // @include padding-left(0);
    // @include padding-right(0);
  }
}
.l-container\@xxlarge {
  @include breakpoint(xxlarge){
    margin-left : auto;
    margin-right : auto;

    // @include padding-left(70);
    // @include padding-right(70);
    width : 100%;
    max-width : 1920px;
  }


  @include breakpoint(giant){
    // @include padding-left(0);
    // @include padding-right(0);
  }
}
.l-container\@xlarge {
  @include breakpoint(xlarge){
    margin-left : auto;
    margin-right : auto;

    // @include padding-left(70);
    // @include padding-right(70);
    width : 100%;
    max-width : 1920px;
  }


  @include breakpoint(giant){
    // @include padding-left(0);
    // @include padding-right(0);
  }
}
.l-container\@large {
  @include breakpoint(large){
    margin-left : auto;
    margin-right : auto;

    // @include padding-left(70);
    // @include padding-right(70);
    width : 100%;
    max-width : 1920px;
  }


  @include breakpoint(giant){
    // @include padding-left(0);
    // @include padding-right(0);
  }
}
.l-container\@medium {
  @include breakpoint(medium){
    margin-left : auto;
    margin-right : auto;

    // @include padding-left(40);
    // @include padding-right(40);
    width : 100%;
    max-width : 1920px;
  }

  @include breakpoint(large){
    // @include padding-left(70);
    // @include padding-right(70);
  }

  @include breakpoint(giant){
    // @include padding-left(0);
    // @include padding-right(0);
  }
}

.l-containerOff\@giant {
  @include breakpoint(giant){
    max-width : none;
  }
}
.l-containerOff\@super {
  @include breakpoint(super){
    max-width : none;
  }
}
.l-containerOff\@xxlarge {
  @include breakpoint(xxlarge){
    max-width : none;
  }
}
.l-containerOff\@xlarge {
  @include breakpoint(xlarge){
    max-width : none;
  }
}
.l-containerOff\@large {
  @include breakpoint(xlarge){
    max-width : none;
  }
}
.l-containerOff\@medium {
  @include breakpoint(medium){
    max-width : none;
  }
}
