<template>
		<div class="small-centered xlarge-5">
			<h2 class="color(white) bold mb3 PelvivaCopy-l center" v-text="inputLabel"></h2>
			<input class="c-PelvicFloorAgeCalculator__user-email large-centered bck-color(white) color(mid-grey) PelvivaCopy-s" placeholder="Enter your email address"
			data-vv-as=" " name="validEmail" v-validate="{ rules: { required: true, email: true } }"
          :class="{'is-danger': errors.has('validEmail') }"
			>

			<transition name="a-fadeHeight">
		      <div v-if="errors.has('validEmail')" class="a-fadeHeight c-PelvicFloorAgeCalculator__question__errorBag mt2">
		        <p class="c-PelvicFloorAgeCalculator__question__errorBag__message center">{{ errors.first('validEmail') }}</p>
		      </div>
		    </transition>

		    <button @click="startQuiz" class="btn btn--center btn--calculator center mt4">Start quiz</button>
	</div>
</template>

<script>
export default {
	inject: {
      $validator: '$validator'
    },

	data() {
		return {
			inputLabel: 'Enter your email address'
		}
	},

	methods: {
		startQuiz: function() {
			this.$validator.validateAll().then(result => {
	             if (result) {
	               this.$emit('gotoquiz');
	             }
	       	}).catch(error => {
	          // console.log('Correct them errors!',error);
	       	});
		}
	}
}
</script>

