<template>

	<div class="c-PelvicFloorAgeCalculator__calculator__container">

		<enter-email @gotoquiz="startQuiz" v-show="showEmail"></enter-email>

		<transition name="a-fade" mode="out-in">
		<section v-if="!showResults && !showEmail">	
			<div class="c-PelvicFloorAgeCalculator__question-block" v-for="(question, index) in questions" v-show="question.isVisible">

				<div class="xlarge-6 giant-5 column mr2-xl">

					<question @passupdata="updateinformation" :index="index" :question="question" v-if="currentIndex == index"></question>

					<div class="c-PelvicFloorAgeCalculator__btn-wrapper mt4 " v-if="!showResults && currentIndex == index">
						<button @click="prevQuestion" class="btn btn--calculator mr3-xxl" v-show="showPrev">Previous</button>
						<button @click="nextQuestion" class="btn btn--calculator mb2 mb0-xxl" v-show="showNext">Next</button>
					</div>

				</div>

				<img class="xlarge-6 giant-7 column col-no-padding c-PelvicFloorAgeCalculator__question__image mb4 mb0-xl" v-show="currentIndex == index && imageCheck()" :src="question.image">

			</div>
		</section>


		<result :user-score="pointsTotalString" v-if="showResults"></result>
		</transition>
	</div>
</template>
<script>
export default {
	inject: {
      $validator: '$validator'
    },
	data() {
		return {

			age : 0,
			pointsTotal : 0,
			currentIndex : 0,
			showResults: false,
			showEmail: true,
			showPrev: false,
			showNext: true,


			// Questions
			questions: [

				// Start of question
				{
					// Question
					question: 'How old are you?',
					// Type
					type: 'text',
					name : 'how_old_are_you',
					// Answer
					answer : '',
					image: '/assets/img/calculator/discoverYourPelvicFloorAge.svg',
					// Show toggle
					isVisible: true,
				},

				// Start of question
				{
					// Question
					question: 'Have you had a baby in the last 12 months?',
					// Type
					type: 'radio',
					name : 'had_a_baby',
					// Answer Options
					options: [
						{ option: 'Yes', points: 5 },
						{ option: 'No', points: 0 }
					],
					image: '/assets/img/calculator/babyInTheLast12Months.svg',
					answer : '',
					// Show toggle
					isVisible: true,
				},

				// Start of question
				{
					// Question
					question: 'How many children have you got?',
					// Type
					type: 'radio',
					name : 'how_many_children',
					// Answer Options
					options: [
						{ option: '0', points: 0, skip : 8 },
						{ option: '1', points: 1 },
						{ option: '2', points: 2 },
						{ option: '3', points: 3 },
						{ option: '4 or more', points: 4}
					],
					image: '/assets/img/calculator/howManyChildren.svg',
					answer : '',
					skipper : true,
					// Show toggle
					isVisible: true
				},

				// Start of question
				{
					// Question
					question: 'How many of your babies were over 8lbs 8 ozs?',
					// Type
					type: 'radio',
					name : 'how_heavy_are_the_babies',
					// Answer Options
					options: [
						{ option: '0', points: 0 },
						{ option: '1', points: 1 },
						{ option: '2', points: 2 },
						{ option: '3 or more', points: 3 },
					],
					image: '/assets/img/calculator/howManyBabiesWereOver.svg',
					answer : '',
					// Show toggle
					isVisible: true
				},

				// Start of question
				{
					// Question
					question: 'If yes how many vaginal deliveries have you had?',
					// Type
					type: 'radio',
					name : 'if_yes_how_many_vaginal_deliveries',
					// Answer Options
					options: [
						{ option: '0', points: 0 },
						{ option: '1', points: 3 },
						{ option: '2', points: 4 },
						{ option: '3 or more', points: 5 },
					],
					image: '/assets/img/calculator/howManyWereVaginal.svg',
					answer : '',
					// Show toggle
					isVisible: true
				},

				// Start of question
				{
					// Question
					question: 'How many of these deliveries were ventouse (suction)?',
					// Type
					type: 'radio',
					name : 'how_many_were_ventouse',
					// Answer Options
					options: [
						{ option: '0', points: 0 },
						{ option: '1', points: 1 },
						{ option: '2', points: 2 },
						{ option: '3 or more', points: 3 },
					],
					image: '/assets/img/calculator/howManyWereVaginal.svg',
					answer : '',
					// Show toggle
					isVisible: true
				},

				// Start of question
				{
					// Question
					question: 'How many of these deliveries were forceps?',
					// Type
					type: 'radio',
					name : 'how_many_were_forceps',
					// Answer Options
					options: [
						{ option: '0', points: 0 },
						{ option: '1', points: 1 },
						{ option: '2', points: 2 },
						{ option: '3 or more', points: 3 },
					],
					image: '/assets/img/calculator/howManyWereVaginal.svg',
					answer : '',
					// Show toggle
					isVisible: true
				},

				// Start of question
				{
					// Question
					question: 'What stage of life at you at?',
					// Type
					type: 'radio',
					name : 'what_stage_of_life_are_you_at',
					// Answer Options
					options: [
						{ option: 'pre-menopausal (still have periods, could get pregnant)', points: 0 },
						{ option: 'peri-menopausal (approaching the menopause, periods declining', points: 1 },
						{ option: 'post menopause (periods have stopped)', points: 2 },
					],
					image: '/assets/img/calculator/discoverYourPelvicFloorAge.svg',
					answer : '',
					// Show toggle
					isVisible: true
				},

				// Start of question
				{
					// Question
					question: 'Do you have a female relative with bladder problems?',
					// Type
					type: 'radio',
					name : 'have_female_relative_with_bladder_problems',
					// Answer Options
					options: [
						{ option: 'Yes', points: 1 },
						{ option: 'No', points: 0 },
						{ option: 'Dont know', points: 0 },
					],
					image: '/assets/img/calculator/relativeWithBladderProblems.svg',
					answer : '',
					// Show toggle
					isVisible: true
				},

				// Start of question
				{
					// Question
					question: 'Do you reguarly have to strain when you go to the toilet or frequently get constipated?',
					// Type
					type: 'radio',
					name : 'do_you_regularly_have_to_strain',
					// Answer Options
					options: [
						{ option: 'Yes', points: 3 },
						{ option: 'No', points: 0 },
					],
					image: '/assets/img/calculator/doYouStrainOnTheToilet.svg',
					answer : '',
					// Show toggle
					isVisible: true,

					skipFrom : null
				},

				// Start of question
				{
					// Question
					question: 'Are you overweight?',
					// Type
					type: 'radio',
					name : 'are_you_overweight',
					// Answer Options
					options: [
						{ option: 'Yes', points: 3 },
						{ option: 'No', points: 0 },
					],
					answer : '',
					image: '/assets/img/calculator/areYouOverweight.svg',
					// Show toggle
					isVisible: true
				},

				// Start of question
				{
					// Question
					question: 'Do you have a chronic cough?',
					// Type
					type: 'radio',
					name : 'have_chronic_cough',
					// Answer Options
					options: [
						{ option: 'Yes', points: 3 },
						{ option: 'No', points: 0 },
					],
					image: '/assets/img/calculator/doYouHaveAChronicCough.svg',
					answer : '',
					// Show toggle
					isVisible: true
				},

				// Start of question
				{
					// Question
					question: 'which of these statements best describe you',
					// Type
					type: 'radio',
					name : 'which_of_these_statements_best_describe_you',
					// Answer Options
					options: [
						{ option: 'I manage to do my PFME at least 3 times a week for most of the time', points: -10 },
						{ option: 'I have always tried to do my PFME exercises over recent years, but usually only remember once or twice a week', points: -4 },
						{ option: 'I occasionally get bursts of enthusiasm for PFME, but this rarely lasts long and I slip into the routine of forgetting them', points: -2 },
						{ option: 'I know I should do my PFME and did them for a little while after my children, but I almost never do them now', points: -1 },
						{ option: 'I have never done pelvic floor exercises', points: 0 },
					],
					image: '/assets/img/calculator/discoverYourPelvicFloorAge.svg',
					answer : '',
					// Show toggle
					isVisible: true
				},

				// Start of question
				{
					// Question
					question: 'Have you ever used an pelvic floor stimulator?',
					// Type
					type: 'radio',
					name : 'have_you_ever_used_a_pelvic_floor_stimulator',
					// Answer Options
					options: [
						{ option: 'Never', points: 0 },
						{ option: 'Yes I used it for a while but stopped only a couple of weeks ago', points: -6 },
						{ option: 'Yes - I used one a while ago, but have stopped using it', points: -2 },
						{ option: 'I regularly use one to keep my pelvic floor strong', points: -10 },
					],
					image: '/assets/img/calculator/usedAPelvicFloorStimulator.svg',
					answer : '',
					// Show toggle
					isVisible: true
				},
			],

		}

	},

	computed :{
		pointsTotalString : function(){
			return 'Your Pelvic Floor age is ' + this.pointsTotal;
		},

		ageString: function(){
			return 'baseAge: ' + this.age;
		}
	},

	methods: {

		startQuiz: function() {
			this.showEmail = false;
		},

		updateinformation : function(data){

			if(data.type === 'radio'){

				// Answer
				this.questions[data.index].answer = data.value;

				// SkipTo point if available
				this.questions[data.index].skipTo = data.value.skip;

				// Run total calculation
				this.calculate();
				return;
			}

			if(data.type === 'text'){
				this.age = data.value;
				this.questions[data.index].answer = parseInt(data.value);
				return;
			}
		},

		clearOut : function(){
			this.questions.map(function(question) {
				if(question.type === 'text'){
					return;
				}

				if(question.skipFrom !== undefined){
					question.skipFrom = undefined;
				}

				question.answer = '';
			});

			this.calculate();
		},

		calculate : function(){

			// reset points total to 0;
			this.pointsTotal = parseInt(this.age);

			// that to this as older browsers dont have () => {} arrow functions - so being safe
			var that = this;
			this.questions.map(function(question) {

				if(question.type !== 'text' && question.answer != ''){
					that.pointsTotal += question.answer.points;
				}
			});
		},


		nextQuestion : function(){
			this.$validator.validateAll().then(result => {
	             if (result) {
	               this.processNextQuestion();
	             }
           	}).catch(error => {
              // console.log('Correct them errors!',error);
           	});
		},
		processNextQuestion: function() {

			// Store skipTo, points and next values
			let skipTo = this.questions[this.currentIndex].skipTo;
			let points = this.questions[this.currentIndex].answer.points;
			let nextQuestion = this.questions[this.currentIndex+1];

			// Check if it is the first question (initial age entry).
			if (this.currentIndex == 0) {

				this.moveFromStepOne();

			// Check if the skipTo value is not undefined and the user has answered the question. If so jump to the skipTo question.
			} else if ( skipTo != undefined && this.isNumeric(points) ) {

				// Store the current questions index
				let current = this.currentIndex;

				// Inrement the question by the skipto amount -1;
				this.currentIndex = skipTo-1;

				// change the skipFrom value of the skipped question to the stored value from the skipFrom point.
				this.questions[this.currentIndex].skipFrom = current;	

			// Check if the next question exists.
			} else if ( nextQuestion ) {

				// Check if the user has answered the current question.
				if ( this.isNumeric(points) ) {	

					// Move to the next question.
					this.currentIndex +=1;

				} else {

					// Show error message.
					//alert('answer the question');

				}

			// If the user has answered the question
			} else if ( this.isNumeric(points) ) {

				// Hide the current question
				this.questions[this.currentIndex].isVisible = false;

				// Remove the previous button
				this.showPrev = false;

				// Remove the next button
				this.showNext = false;

				// Show results
				this.showResults = true;

			} else {

				// Otherwise throw error
				//alert('answer the question (the final is next)');
			}
		},

		prevQuestion: function() {

			// Check if the object has the property skip from and that if it does, it it not empty or undefined
			if (this.isPrevClickAndSkips()) {
				
				// Jump back to the skipped from value 
				this.currentIndex = this.questions[this.currentIndex].skipFrom;

				// clear out previous answers
				this.clearOut();

				// Return this value and stop the function
				this.clearOutCheck();
				return;
			}

			// Check if there is a previous question.
			if (this.isPreviousQuestion()) {

				// Check if the previous question is Q1
				if ( this.currentIndex-1 == 0 ) {

					//remove the previous button
					this.showPrev = false;
				}

				// Go back a question
				this.currentIndex -=1;

			} else {

				// Otherwise throw error
				//alert('no question available');
			}

			this.clearOutCheck();

		},

		moveFromStepOne : function(){
			// If the age is not set, show error message.
			if (this.age == "") {

				alert('age not set');
				return;

			// If the age set but is above 120, show error message.
			} else if ( this.age >= 120 ) {

				//alert('age too high');
				return;

			// Otherwise move the index the next question.
			} else {

				// If this is true go to the next question
				this.currentIndex +=1;

				// Show previous button
				this.showPrev = true;
			}
		},

		isPrevClickAndSkips : function(){
			return (this.has(this.questions[this.currentIndex], 'skipFrom') && this.questions[this.currentIndex].skipFrom != '' && this.questions[this.currentIndex].skipFrom != undefined);
		},
		isPreviousQuestion : function(){
			return (this.questions[this.currentIndex-1]);
		},

		clearOutCheck : function(){
			// if we go back to chooser/skipper question then re-clear out answers
			if(this.questions[this.currentIndex].skipper !== undefined){
				this.clearOut();
			}
		},

		imageCheck: function() {

			// Check if the question has an image key
			if ( this.has(this.questions[this.currentIndex], 'image') ) {
				return true;
			} else {
				return false;
			};
		},

		// Check if the object has a key
		has: function(object, key) {
      		return object ? hasOwnProperty.call(object, key) : false;
   		},


   		isNumeric: function(n) {
		  return !isNaN(parseFloat(n)) && isFinite(n);
		}
	}
}
</script>
<style>
.a-fade-enter-active {
  transition: opacity 1s ease;
}
.a-fade-leave-active {
  transition: opacity 0.5s ease;
}

.a-fade-enter-to, .a-fade-leave {
  opacity: 1;
}
.a-fade-enter, .a-fade-leave-to {
  opacity: 0;
}
.a-fade {
  transition: all 0.5s ease;
}

.a-fadeHeight-enter-active {
  transition: opacity 0.5s ease, max-height 0.7s ease;
}
.a-fadeHeight-leave-active {
  transition: opacity 0.5s ease, max-height 1.2s ease;
}

.a-fadeHeight-enter-to, .a-fadeHeight-leave {
  /*opacity: 1;*/
  max-height : 100px;
}
.a-fadeHeight-enter, .a-fadeHeight-leave-to {
  /*opacity: 0;*/
  max-height : 0px;
}
.a-fadeHeight {
  transition: all 0.5s ease, max-height 0.7s ease;
  overflow: hidden;
}
</style>