<template>
	<div class="c-PelvicFloorAgeCalculator__question">
			<h2 class="color(white) bold mb3 PelvivaCopy-l" v-text="question.question"></h2>
			
			<div class="c-PelvicFloorAgeCalculator__question__option mb2" v-if="question.type == 'radio'" v-for="(option, index) in question.options">

				<input class="c-PelvicFloorAgeCalculator__question__input c-PelvicFloorAgeCalculator__question__input--radio" :id="index" type="radio" :checked="question.answer.option == option.option" v-on:click="updateValue(option)" :name="question.name"
				data-vv-as=" "
				v-validate="{ rules: { required: true } }" 
				:class="{'is-danger': errors.has(question.name), 'is-good' : isValid }"
				/>

				<label class="color(white) PelvivaCopy-s c-PelvicFloorAgeCalculator__question__label" :for="index" v-text="option.option"></label>

			</div>

			<div v-if="question.type == 'text'">
				<input class="c-PelvicFloorAgeCalculator__question__input c-PelvicFloorAgeCalculator__question__input--text bck-color(white) color(mid-grey) PelvivaCopy-s" type="number" min="0" max="120" placeholder="Enter your age" :value="question.answer" v-on:input="updateAge($event)"
				data-vv-as=" " :name="question.name" v-validate="{ rules: { required: true, numeric : true, max_value: 120, min_value: 1 } }"
              :class="{'is-danger': errors.has(question.name), 'is-good' : isValid }"
				>
			</div>

			<transition name="a-fadeHeight">
		      <div v-if="errors.has(question.name)" class="a-fadeHeight c-PelvicFloorAgeCalculator__question__errorBag mt2">
		        <p class="c-PelvicFloorAgeCalculator__question__errorBag__message center">{{ errors.first(question.name) }}</p>
		      </div>
		    </transition>

	</div>
</template>

<script>
export default {
	inject: {
      $validator: '$validator'
    },
	props : {
		index : {
			type : Number,
			default : 0
		},
		question : {
			type : Object,
			default : function(){
				return {
					// Question
					question: 'this is NOT question',
					name : '',
					// Answer Options
					options: [
						{ option: 'option Not 1', points: 1 },
						{ option: 'option Not 2', points: 2 },
					],
					answer : '',
					type: 'radio',
					image: null,
					// Show toggle
					isVisible: false,
				};
			}
		}
	},

	computed : {
		isValid(){
            if(this.fields === undefined || this.fields === null){
              return false;
            }
            let keysArray   = Object.keys(this.fields);
            let valuesArray = Object.values(this.fields);
            let successKey  = keysArray.indexOf(this.question.name);

            let succesObj = valuesArray[successKey];
            if(succesObj === undefined){
              return false;
            }
            if(succesObj.valid === undefined){
              return false;
            }
            return succesObj.valid;
          }
	},

	methods : {
		updateValue : function(value){
			this.answer = value;

			let questionData = { 
				index : this.index,
				value : value,
				type  : this.question.type
			};

			this.$emit('passupdata',questionData);
		},

		updateAge : function($event){
			
			this.answer = $event.target.value;

			let questionData = { 
				index : this.index,
				value : $event.target.value,
				type  : this.question.type
			};

			this.$emit('passupdata',questionData);
		}
	}
}
</script>