<template>
		<h2 class="color(white) center PelvivaSubheader bold" v-text="userScore"></h2>
</template>

<script>
export default {
	props: {

		userScore: {
			type: String,
			default: 'Sorry, no results are available'
		}
	},
}
</script>