
@font-face {
	font-family: 'fontastiqueregular';
	src: url('../fonts/fontastique-webfont.woff2') format('woff2'),
		url('../fonts/fontastique-webfont.woff') format('woff'),
		url('../fonts/fontastique-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
