.list {
	list-style-type: none;
	padding: 0;
}

.list-item {
	display: flex;
	align-items: baseline;

	/* before element */
	&:before {
		margin-right: 15px;
		content: "";
		display: block;
		width: 25px;
		height: 30px;
		min-height: 30px;
		min-width: 30px;
		max-height: 30px;
		max-width: 30px;
		border-radius: 99em;
		background-color: color(mid-grey);
	}
}

.list--mark-green .list-item:before {

	background-color: transparent;
	border-radius: 0;
	background-image: url('../../assets/img/site-wide/pelvivaBullet.svg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	min-height: 20px;
	min-width: 20px;
	max-height: 20px;
	max-width: 20px;

}

.list--mark-grey .list-item:before {

	background-color: transparent;
	border-radius: 0;
	background-image: url('../../assets/img/site-wide/pelvivaBullet-grey.svg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	min-height: 20px;
	min-width: 20px;
	max-height: 20px;
	max-width: 20px;

}

.list--mark-green--l .list-item:before,
.list--mark-grey--l .list-item:before, {
	width: 25px;
	height: 25px;
	min-height: 25px;
	min-width: 25px;
	max-height: 25px;
	max-width: 25px;
}

.list--green .list-item:before {
	background-color: color(green);
}