.flickity-page-dots .dot {
	background-color: color(green)!important;
	width: 15px!important;
	height: 15px!important;

	@include breakpoint(xxlarge){
		height: 20px !important;
		width: 20px !important;
	}
}
