//
// Tables
// --------------------------------------------------
table {
  border-collapse : collapse;
  border-spacing  : 0;
  margin          : 0 0 3rem 0;
  width           : 100%;

  position: relative;
}



table:after {
  content : ' ';
  border-bottom : 1px solid color(grey);
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 20px;
}




th, td {
  padding        : 12px 10px 12px 0;
  vertical-align : top;
				 //@include font-size(14);
}

tr:first-child > td {
  padding-top : 40px;
}

td {
  //padding        : 12px 10px;
}

table {
  background-color : transparent;
  border-radius    : 0;
}

caption {
  padding-top    : $table-cell-padding;
  padding-bottom : $table-cell-padding + 'px';
  color          : color(black);
  text-align     : left;
}

th {
  text-align : left;
  color      : color(black);
  border-bottom: 1px solid color(grey);
  text-transform : uppercase;
}

// Baseline styles

.table {
  overflow      : hidden;
  width         : 100%;
  max-width     : 100%;
  margin-bottom : 10px;
				// Cells
  > thead,
  > tbody,
  > tfoot {
	> tr {
	  > th,
	  > td {
		padding        : $table-cell-padding;
		line-height    : 1.2;
		vertical-align : top;
		border-top     : 1px solid color(dark-grey);
	  }
	}
  }
				// Bottom align for column headings
  > thead > tr > th {
	vertical-align : bottom;
	border-bottom  : 2px solid color(dark-grey);
  }
				// Remove top border from thead by default
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
	> tr:first-child {
	  > th,
	  > td {
		border-top : 0;
	  }
	}
  }
				// Account for multiple tbody instances
  > tbody + tbody {
	border-top : 2px solid color(dark-grey);
  }

				// Nesting
  .table {
	background-color : color(grey);
  }
}

// Condensed table w/ half padding

.table-condensed {
  > thead,
  > tbody,
  > tfoot {
	> tr {
	  > th,
	  > td {
		padding : 5px;
	  }
	}
  }
}

// Bordered version
//
// Add borders all around the table and between all the columns.

.table-bordered {
  border   : 1px solid color(dark-grey);
  overflow : hidden;
  > thead,
  > tbody,
  > tfoot {
	> tr {
	  > th,
	  > td {
		border : 1px solid color(dark-grey);
	  }
	}
  }
  > thead > tr {
	> th,
	> td {
	  border-bottom-width : 2px;
	}
  }
}

// Zebra-striping
//
// Default zebra-stripe styles (alternating gray and transparent backgrounds)

.table-striped {
  > tbody > tr:nth-of-type(odd) {
	background-color : color(grey);
  }
}

// Table cell sizing
//
// Reset default table behavior

table col[class*="col-"] {
  position : static; // Prevent border hiding in Firefox and IE9-11 (see https://github.com/twbs/bootstrap/issues/11623)
  float    : none;
  display  : table-column;
}

table {
  td,
  th {
	&[class*="col-"] {
	  position : static; // Prevent border hiding in Firefox and IE9-11 (see https://github.com/twbs/bootstrap/issues/11623)
	  float    : none;
	  display  : table-cell;
	}
  }
}


.table-responsive {
  overflow-x : auto;
  min-height : 0.01%; // Workaround for IE9 bug (see https://github.com/twbs/bootstrap/issues/14837)

  @media screen and (max-width : 18.75em) {
	width              : 100%;
	margin-bottom      : (10px * 0.75);
	overflow-y         : hidden;
	-ms-overflow-style : -ms-autohiding-scrollbar;
	border             : 1px solid color(dark-grey);

					   // Tighten up spacing
	> .table {
	  margin-bottom : 0;

					// Ensure the content doesn't wrap
	  > thead,
	  > tbody,
	  > tfoot {
		> tr {
		  > th,
		  > td {
			white-space : nowrap;
		  }
		}
	  }
	}

					   // Special overrides for the bordered tables
	> .table-bordered {
	  border : 0;

			 // Nuke the appropriate borders so that the parent can handle them
	  > thead,
	  > tbody,
	  > tfoot {
		> tr {
		  > th:first-child,
		  > td:first-child {
			border-left : 0;
		  }
		  > th:last-child,
		  > td:last-child {
			border-right : 0;
		  }
		}
	  }

			 // Only nuke the last row's bottom-border in `tbody` and `tfoot` since
			 // chances are there will be only one `tr` in a `thead` and that would
			 // remove the border altogether.
	  > tbody,
	  > tfoot {
		> tr:last-child {
		  > th,
		  > td {
			border-bottom : 0;
		  }
		}
	  }

	}
  }
}
