/*
   ASPECT RATIOS
*/

/* This is for fluid media that is embedded from third party sites like youtube, vimeo etc.
 * Wrap the outer element in aspect-ratio and then extend it with the desired ratio i.e
 * Make sure there are no height and width attributes on the embedded media.
 * Adapted from: https://github.com/suitcss/components-flex-embed
 *
 * Example:
 *
 * <div class="aspect-ratio aspect-ratio--16x9">
 *  <iframe class="aspect-ratio--object"></iframe>
 * </div>
 *
 * */

.aspect-ratio {
  height: 0;
  position: relative;
}

.aspect-ratio--16x9 { padding-bottom: 56.25%; }
.aspect-ratio--9x16 { padding-bottom: 177.77%; }

.aspect-ratio--4x3 {  padding-bottom: 75%; }
.aspect-ratio--3x4 {  padding-bottom: 133.33%; }

.aspect-ratio--6x4 {  padding-bottom: 66.6%; }
.aspect-ratio--4x6 {  padding-bottom: 150%; }

.aspect-ratio--8x5 {  padding-bottom: 62.5%; }
.aspect-ratio--5x8 {  padding-bottom: 160%; }

.aspect-ratio--7x5 {  padding-bottom: 71.42%; }
.aspect-ratio--5x7 {  padding-bottom: 140%; }

.aspect-ratio--1x1 {  padding-bottom: 100%; }

.aspect-ratio--object {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

@include breakpoint(small) {
    .aspect-ratio-s {
      height: 0;
      position: relative;
    }
    .aspect-ratio--16x9-s { padding-bottom: 56.25%; }
    .aspect-ratio--9x16-s { padding-bottom: 177.77%; }
    .aspect-ratio--4x3-s {  padding-bottom: 75%; }
    .aspect-ratio--3x4-s {  padding-bottom: 133.33%; }
    .aspect-ratio--6x4-s {  padding-bottom: 66.6%; }
    .aspect-ratio--4x6-s {  padding-bottom: 150%; }
    .aspect-ratio--8x5-s {  padding-bottom: 62.5%; }
    .aspect-ratio--5x8-s {  padding-bottom: 160%; }
    .aspect-ratio--7x5-s {  padding-bottom: 71.42%; }
    .aspect-ratio--5x7-s {  padding-bottom: 140%; }
    .aspect-ratio--1x1-s {  padding-bottom: 100%; }
    .aspect-ratio--object-s {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
    }
}

@include breakpoint(small) {
    .aspect-ratio-m {
      height: 0;
      position: relative;
    }
    .aspect-ratio--16x9-m { padding-bottom: 56.25%; }
    .aspect-ratio--9x16-m { padding-bottom: 177.77%; }
    .aspect-ratio--4x3-m {  padding-bottom: 75%; }
    .aspect-ratio--3x4-m {  padding-bottom: 133.33%; }
    .aspect-ratio--6x4-m {  padding-bottom: 66.6%; }
    .aspect-ratio--4x6-m {  padding-bottom: 150%; }
    .aspect-ratio--8x5-m {  padding-bottom: 62.5%; }
    .aspect-ratio--5x8-m {  padding-bottom: 160%; }
    .aspect-ratio--7x5-m {  padding-bottom: 71.42%; }
    .aspect-ratio--5x7-m {  padding-bottom: 140%; }
    .aspect-ratio--1x1-m {  padding-bottom: 100%; }
    .aspect-ratio--object-m {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
    }
}

@include breakpoint(small) {
    .aspect-ratio-l {
      height: 0;
      position: relative;
    }
    .aspect-ratio--16x9-l { padding-bottom: 56.25%; }
    .aspect-ratio--9x16-l { padding-bottom: 177.77%; }
    .aspect-ratio--4x3-l {  padding-bottom: 75%; }
    .aspect-ratio--3x4-l {  padding-bottom: 133.33%; }
    .aspect-ratio--6x4-l {  padding-bottom: 66.6%; }
    .aspect-ratio--4x6-l {  padding-bottom: 150%; }
    .aspect-ratio--8x5-l {  padding-bottom: 62.5%; }
    .aspect-ratio--5x8-l {  padding-bottom: 160%; }
    .aspect-ratio--7x5-l {  padding-bottom: 71.42%; }
    .aspect-ratio--5x7-l {  padding-bottom: 140%; }
    .aspect-ratio--1x1-l {  padding-bottom: 100%; }
    .aspect-ratio--object-l {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
    }
}


@include breakpoint(xlarge) {
    .aspect-ratio-xl {
      height: 0;
      position: relative;
    }
    .aspect-ratio--16x9-xl { padding-bottom: 56.25%; }
    .aspect-ratio--9x16-xl { padding-bottom: 177.77%; }
    .aspect-ratio--4x3-xl {  padding-bottom: 75%; }
    .aspect-ratio--3x4-xl {  padding-bottom: 133.33%; }
    .aspect-ratio--6x4-xl {  padding-bottom: 66.6%; }
    .aspect-ratio--4x6-xl {  padding-bottom: 150%; }
    .aspect-ratio--8x5-xl {  padding-bottom: 62.5%; }
    .aspect-ratio--5x8-xl {  padding-bottom: 160%; }
    .aspect-ratio--7x5-xl {  padding-bottom: 71.42%; }
    .aspect-ratio--5x7-xl {  padding-bottom: 140%; }
    .aspect-ratio--1x1-xl {  padding-bottom: 100%; }
    .aspect-ratio--object-xl {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
    }
}


@include breakpoint(xxlarge) {
    .aspect-ratio-xxl {
      height: 0;
      position: relative;
    }
    .aspect-ratio--16x9-xxl { padding-bottom: 56.25%; }
    .aspect-ratio--9x16-xxl { padding-bottom: 177.77%; }
    .aspect-ratio--4x3-xxl {  padding-bottom: 75%; }
    .aspect-ratio--3x4-xxl {  padding-bottom: 133.33%; }
    .aspect-ratio--6x4-xxl {  padding-bottom: 66.6%; }
    .aspect-ratio--4x6-xxl {  padding-bottom: 150%; }
    .aspect-ratio--8x5-xxl {  padding-bottom: 62.5%; }
    .aspect-ratio--5x8-xxl {  padding-bottom: 160%; }
    .aspect-ratio--7x5-xxl {  padding-bottom: 71.42%; }
    .aspect-ratio--5x7-xxl {  padding-bottom: 140%; }
    .aspect-ratio--1x1-xxl {  padding-bottom: 100%; }
    .aspect-ratio--object-xxl {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
    }
}


@include breakpoint(super) {
    .aspect-ratio-super {
      height: 0;
      position: relative;
    }
    .aspect-ratio--16x9-super { padding-bottom: 56.25%; }
    .aspect-ratio--9x16-super { padding-bottom: 177.77%; }
    .aspect-ratio--4x3-super {  padding-bottom: 75%; }
    .aspect-ratio--3x4-super {  padding-bottom: 133.33%; }
    .aspect-ratio--6x4-super {  padding-bottom: 66.6%; }
    .aspect-ratio--4x6-super {  padding-bottom: 150%; }
    .aspect-ratio--8x5-super {  padding-bottom: 62.5%; }
    .aspect-ratio--5x8-super {  padding-bottom: 160%; }
    .aspect-ratio--7x5-super {  padding-bottom: 71.42%; }
    .aspect-ratio--5x7-super {  padding-bottom: 140%; }
    .aspect-ratio--1x1-super {  padding-bottom: 100%; }
    .aspect-ratio--object-super {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
    }
}



@include breakpoint(giant) {
    .aspect-ratio-g {
      height: 0;
      position: relative;
    }
    .aspect-ratio--16x9-g { padding-bottom: 56.25%; }
    .aspect-ratio--9x16-g { padding-bottom: 177.77%; }
    .aspect-ratio--4x3-g {  padding-bottom: 75%; }
    .aspect-ratio--3x4-g {  padding-bottom: 133.33%; }
    .aspect-ratio--6x4-g {  padding-bottom: 66.6%; }
    .aspect-ratio--4x6-g {  padding-bottom: 150%; }
    .aspect-ratio--8x5-g {  padding-bottom: 62.5%; }
    .aspect-ratio--5x8-g {  padding-bottom: 160%; }
    .aspect-ratio--7x5-g {  padding-bottom: 71.42%; }
    .aspect-ratio--5x7-g {  padding-bottom: 140%; }
    .aspect-ratio--1x1-g {  padding-bottom: 100%; }
    .aspect-ratio--object-g {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
    }
}
