.clear {
  clear : both;
}

.clear\@small {
  @include breakpoint(small){
    clear : both;
  }
}
.clear\@medium {
  @include breakpoint(medium){
    clear : both;
  }
}
.clear\@large {
  @include breakpoint(xlarge){
    clear : both;
  }
}
.clear\@xlarge {
  @include breakpoint(xlarge){
    clear : both;
  }
}
.clear\@xxlarge {
  @include breakpoint(xxlarge){
    clear : both;
  }
}
.clear\@super {
  @include breakpoint(super){
    clear : both;
  }
}
