.flex {
  display: flex;
}

.flex-giant {
  @include breakpoint(giant){
    display: flex;
  }
}

/* Flex Directions */

.fd-column {
  flex-direction: column;
}

.fd-column-xl {
  @include breakpoint(xlarge){
    flex-direction: column !important;
  }
}

.fd-column-giant {
  @include breakpoint(giant){
    flex-direction: column;
  }
}

.fd-row {
  flex-direction: row;
}

.fd-row-l {
  @include breakpoint(large){
    flex-direction: row;
  }
}

.fd-row-xl {
  @include breakpoint(xlarge){
    flex-direction: row;
  }
}

.fd-columnRev {
  flex-direction: column-reverse;
}


.fd-rowRev {
  flex-direction: row-reverse;
}

/* Justify Content */

.jc-start {
  justify-content: flex-start;
}

.jc-start-giant {
  @include breakpoint(giant){
    justify-content: flex-start;
  }
}

.jc-center {
  justify-content: center;
}

.jc-center-xl {
  @include breakpoint(xlarge){
    justify-content: center;
  }
}

.jc-center-giant {
  @include breakpoint(giant){
    justify-content: center;
  }
}

.jc-end {
  justify-content: flex-end;
}

.jc-end-g {
  @include breakpoint(giant){
    justify-content: flex-end;
  }
}

.jc-spaceBetween {
  justify-content: space-between;
}

.jc-spaceAround {
  justify-content: space-around;
}

/* Align Items */

.ai-start {
  align-items: flex-start;
}

.ai-center {
  align-items: center;
}

.ai-center-g {
  @include breakpoint(giant){
    align-items: center;
  }
}

.ai-end {
  align-items: flex-end;
}

.ai-end-g {
  @include breakpoint(giant){
    align-items: flex-end;
  }
}

.ai-baseLine {
  align-items: baseline;
}

.ai-baseLine-g {
  @include breakpoint(giant){
    align-items: baseline;
  }
}

/* Align Self Items */

.as-base {
  align-self: baseline;
}

.as-end {
  align-self: end;
}
