/*
   FLOATS
   http://tachyons.io/docs/layout/floats/
   1. Floated elements are automatically rendered as block level elements.
      Setting floats to display inline will fix the double margin bug in
      ie6. You know... just in case.
   2. Don't forget to clearfix your floats with .cf
   Base:
     f = float
   Modifiers:
     l = left
     r = right
     n = none
   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large
*/



.fl { float: left;  _display: inline; }
.fr { float: right; _display: inline; }
.fn { float: none; }

@include breakpoint(small) {
  .fl-sm { float: left; _display: inline; }
  .fr-sm { float: right; _display: inline; }
  .fn-sm { float: none; }
}

@include breakpoint(medium) {
  .fl-m { float: left; _display: inline; }
  .fr-m { float: right; _display: inline; }
  .fn-m { float: none; }
}

@include breakpoint(large) {
  .fl-l { float: left; _display: inline; }
  .fr-l { float: right; _display: inline; }
  .fn-l { float: none; }
}

@include breakpoint(xlarge) {
  .fl-xl { float: left; _display: inline; }
  .fr-xl { float: right; _display: inline; }
  .fn-xl { float: none; }
}

@include breakpoint(xxlarge) {
  .fl-xxl { float: left; _display: inline; }
  .fr-xxl { float: right; _display: inline; }
  .fn-xxl { float: none; }
}

@include breakpoint(super) {
  .fl-super { float: left; _display: inline; }
  .fr-super { float: right; _display: inline; }
  .fn-super { float: none; }
}

@include breakpoint(giant) {
  .fl-g { float: left; _display: inline; }
  .fr-g { float: right; _display: inline; }
  .fn-g { float: none; }
}
