.hide {
  display : none;
  visibility: hidden;
}

.hide\@giant {
  @include breakpoint(giant){
    display : none;
    visibility: hidden;
  }
}
.hide\@super {
  @include breakpoint(super){
    display : none;
    visibility: hidden;
  }
}
.hide\@xxlarge {
  @include breakpoint(xxlarge){
    display : none;
    visibility: hidden;
  }
}
.hide\@xlarge {
  @include breakpoint(xlarge){
    display : none;
    visibility: hidden;
  }
}
.hide\@large {
  @include breakpoint(large){
    display : none;
    visibility: hidden;
  }
}
.hide\@medium {
  @include breakpoint(medium){
    display : none;
    visibility: hidden;
  }
}
