/*
   LINE HEIGHT / LEADING
   Docs: http://tachyons.io/docs/typography/line-height
   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large
*/

.lh-solid {
    line-height: 1;
}

.lh-title {
    line-height: 1.2;
}

.lh-copy {
    line-height: 1.5;
}
