.ovflw {
    overflow: hidden;
}

.ovflw\@giant {
  @include breakpoint(giant){
    overflow: hidden;
  }
}
.ovflw\@super {
  @include breakpoint(super){
     overflow: hidden;
  }
}
.ovflw\@xxlarge {
  @include breakpoint(xxlarge){
    overflow: hidden;
  }
}
.ovflw\@xlarge {
  @include breakpoint(xlarge){
     overflow: hidden;
  }
}
.ovflw\@large {
  @include breakpoint(large){
     overflow: hidden;
  }
}
.ovflw\@medium {
  @include breakpoint(medium){
     overflow: hidden;
  }
}

.ovflw--visible {
	 overflow: visible;

	 @include breakpoint(large) {
	 	overflow: hidden;
	 }
}