.show {
  display : block;
  visibility: visible;
}

.show\@giant {
  @include breakpoint(giant){
    display : block;
    visibility: visible;
  }
}
.show\@super {
  @include breakpoint(super){
    display : block;
    visibility: visible;
  }
}
.show\@xxlarge {
  @include breakpoint(xxlarge){
    display : block;
    visibility: visible;
  }
}
.show\@xlarge {
  @include breakpoint(xlarge){
    display : block;
    visibility: visible;
  }
}
.show\@large {
  @include breakpoint(large){
    display : block;
    visibility: visible;
  }
}
.show\@medium {
  @include breakpoint(medium){
    display : block;
    visibility: visible;
  }
}
