/* Variables */

  $spacing-none: 0;
  $spacing-extra-small: 5px;  //.25rem;
  $spacing-small: 10px;        // 8px - .5rem;
  $spacing-medium: 20px;      //1rem;
  $spacing-large: 40px;       //2rem;
  $spacing-extra-large: 60px; //64px - 4rem;
  $spacing-extra-extra-large: 80px; //8rem;
  $spacing-extra-extra-extra-large: 100px; //;16rem;
  $spacing-giant: 150px;
  $spacing-huge: 200px;

/*
   SPACING
   Docs: http://tachyons.io/docs/layout/spacing/

   An eight step powers of two scale ranging from 0 to 16rem.

   Base:
     p = padding
     m = margin

   Modifiers:
     a = all
     h = horizontal
     v = vertical
     t = top
     r = right
     b = bottom
     l = left

     0 = none
     1 = 1st step in spacing scale
     2 = 2nd step in spacing scale
     3 = 3rd step in spacing scale
     4 = 4th step in spacing scale
     5 = 5th step in spacing scale
     6 = 6th step in spacing scale
     7 = 7th step in spacing scale

   Media Query Extensions:
     -s = not-small
     -m  = medium
     -l  = large

*/



// .ptb {
//
//   padding-top: 1.25rem;
//   padding-bottom: 1.25rem;
//
//   @include breakpoint(xlarge) {
//
//     padding: 2.5rem !important;
//   }
//
//   @include breakpoint(massive) {
//
//     padding: 4rem !important;
//   }
//
// }

//* Inner Column Padding *//

.col-no-padding {
  padding: 0 !important;
}

.col-padding {
  padding: 20px !important;

  @include breakpoint(large) {
    padding: 40px !important;
  }

  @include breakpoint(massive) {
    padding: 60px !important;
  }

  @include breakpoint(giant) {
    padding: 80px !important;
  }
}


// Negative margins to fix touching sections with the same background
.touch-fix {
  @include margin-top(-20);

  @include breakpoint(medium) {
    @include margin-top(-40);
  }
}

.touch-fix-2 {
  padding-top: 20px!important;

  @include breakpoint(large) {
    padding-top: 40px!important;
  }

  @include breakpoint(xlarge) {
    padding-top: 0px!important;
  }
}


.m-center {
  margin-left: auto;
  margin-right: auto;
}


.pa0 { padding: $spacing-none; }
.pa1 { padding: $spacing-extra-small; }
.pa2 { padding: $spacing-small; }
.pa3 { padding: $spacing-medium; }
.pa4 { padding: $spacing-large; }
.pa5 { padding: $spacing-extra-large; }
.pa6 { padding: $spacing-extra-extra-large; }
.pa7 { padding: $spacing-extra-extra-extra-large; }
.pa8 { padding: $spacing-giant; }


.pl0 { padding-left: $spacing-none; }
.pl1 { padding-left: $spacing-extra-small; }
.pl2 { padding-left: $spacing-small; }
.pl3 { padding-left: $spacing-medium; }
.pl4 { padding-left: $spacing-large; }
.pl5 { padding-left: $spacing-extra-large; }
.pl6 { padding-left: $spacing-extra-extra-large; }
.pl7 { padding-left: $spacing-extra-extra-extra-large; }
.pl8 { padding-left: $spacing-giant; }

.pr0 { padding-right: $spacing-none; }
.pr1 { padding-right: $spacing-extra-small; }
.pr2 { padding-right: $spacing-small; }
.pr3 { padding-right: $spacing-medium; }
.pr4 { padding-right: $spacing-large; }
.pr5 { padding-right: $spacing-extra-large; }
.pr6 { padding-right: $spacing-extra-extra-large; }
.pr7 { padding-right: $spacing-extra-extra-extra-large; }
.pr8 { padding-right: $spacing-giant; }

.pb0 { padding-bottom: $spacing-none; }
.pb1 { padding-bottom: $spacing-extra-small; }
.pb2 { padding-bottom: $spacing-small; }
.pb3 { padding-bottom: $spacing-medium; }
.pb4 { padding-bottom: $spacing-large; }
.pb5 { padding-bottom: $spacing-extra-large; }
.pb6 { padding-bottom: $spacing-extra-extra-large; }
.pb7 { padding-bottom: $spacing-extra-extra-extra-large; }
.pb8 { padding-bottom: $spacing-giant; }

.pt0 { padding-top: $spacing-none; }
.pt1 { padding-top: $spacing-extra-small; }
.pt2 { padding-top: $spacing-small; }
.pt3 { padding-top: $spacing-medium; }
.pt4 { padding-top: $spacing-large; }
.pt5 { padding-top: $spacing-extra-large; }
.pt6 { padding-top: $spacing-extra-extra-large; }
.pt7 { padding-top: $spacing-extra-extra-extra-large; }
.pt8 { padding-top: $spacing-giant; }

.pv0 {
  padding-top: $spacing-none;
  padding-bottom: $spacing-none;
}
.pv1 {
  padding-top: $spacing-extra-small;
  padding-bottom: $spacing-extra-small;
}
.pv2 {
  padding-top: $spacing-small;
  padding-bottom: $spacing-small;
}
.pv3 {
  padding-top: $spacing-medium;
  padding-bottom: $spacing-medium;
}
.pv4 {
  padding-top: $spacing-large;
  padding-bottom: $spacing-large;
}
.pv5 {
  padding-top: $spacing-extra-large;
  padding-bottom: $spacing-extra-large;
}
.pv6 {
  padding-top: $spacing-extra-extra-large;
  padding-bottom: $spacing-extra-extra-large;
}

.pv7 {
  padding-top: $spacing-extra-extra-extra-large;
  padding-bottom: $spacing-extra-extra-extra-large;
}

.pv8 {
  padding-top: $spacing-giant;
  padding-bottom: $spacing-giant;
}

.ph0 {
  padding-left: $spacing-none;
  padding-right: $spacing-none;
}

.ph1 {
  padding-left: $spacing-extra-small;
  padding-right: $spacing-extra-small;
}

.ph2 {
  padding-left: $spacing-small;
  padding-right: $spacing-small;
}

.ph3 {
  padding-left: $spacing-medium;
  padding-right: $spacing-medium;
}

.ph4 {
  padding-left: $spacing-large;
  padding-right: $spacing-large;
}

.ph5 {
  padding-left: $spacing-extra-large;
  padding-right: $spacing-extra-large;
}

.ph6 {
  padding-left: $spacing-extra-extra-large;
  padding-right: $spacing-extra-extra-large;
}

.ph7 {
  padding-left: $spacing-extra-extra-extra-large;
  padding-right: $spacing-extra-extra-extra-large;
}

.ph8 {
  padding-left: $spacing-giant;
  padding-right: $spacing-giant;
}

.ma0  {  margin: $spacing-none; }
.ma1 {  margin: $spacing-extra-small; }
.ma2  {  margin: $spacing-small; }
.ma3  {  margin: $spacing-medium; }
.ma4  {  margin: $spacing-large; }
.ma5  {  margin: $spacing-extra-large; }
.ma6 {  margin: $spacing-extra-extra-large; }
.ma7 { margin: $spacing-extra-extra-extra-large; }
.ma8 { margin: $spacing-giant; }

.ml0  {  margin-left: $spacing-none; }
.ml1 {  margin-left: $spacing-extra-small; }
.ml2  {  margin-left: $spacing-small; }
.ml3  {  margin-left: $spacing-medium; }
.ml4  {  margin-left: $spacing-large; }
.ml5  {  margin-left: $spacing-extra-large; }
.ml6 {  margin-left: $spacing-extra-extra-large; }
.ml7 { margin-left: $spacing-extra-extra-extra-large; }
.ml8 { margin-left: $spacing-giant; }

.mr0  {  margin-right: $spacing-none; }
.mr1 {  margin-right: $spacing-extra-small; }
.mr2  {  margin-right: $spacing-small; }
.mr3  {  margin-right: $spacing-medium; }
.mr4  {  margin-right: $spacing-large; }
.mr5  {  margin-right: $spacing-extra-large; }
.mr6 {  margin-right: $spacing-extra-extra-large; }
.mr7 { margin-right: $spacing-extra-extra-extra-large; }
.mr8 { margin-right: $spacing-giant; }

.mb0  {  margin-bottom: $spacing-none; }
.mb1 {  margin-bottom: $spacing-extra-small; }
.mb2  {  margin-bottom: $spacing-small; }
.mb3  {  margin-bottom: $spacing-medium; }
.mb4  {  margin-bottom: $spacing-large; }
.mb5  {  margin-bottom: $spacing-extra-large; }
.mb6 {  margin-bottom: $spacing-extra-extra-large; }
.mb7 { margin-bottom: $spacing-extra-extra-extra-large; }
.mb8 { margin-bottom: $spacing-giant; }
.mb9 { margin-bottom: $spacing-huge;  }

.mt0  {  margin-top: $spacing-none; }
.mt1 {  margin-top: $spacing-extra-small; }
.mt2  {  margin-top: $spacing-small; }
.mt3  {  margin-top: $spacing-medium; }
.mt4  {  margin-top: $spacing-large; }
.mt5  {  margin-top: $spacing-extra-large; }
.mt6 {  margin-top: $spacing-extra-extra-large; }
.mt7 { margin-top: $spacing-extra-extra-extra-large; }
.mt8 { margin-top: $spacing-giant; }
.mt9 { margin-top: $spacing-huge; }

.mv0   {
  margin-top: $spacing-none;
  margin-bottom: $spacing-none;
}
.mv1  {
  margin-top: $spacing-extra-small;
  margin-bottom: $spacing-extra-small;
}
.mv2   {
  margin-top: $spacing-small;
  margin-bottom: $spacing-small;
}
.mv3   {
  margin-top: $spacing-medium;
  margin-bottom: $spacing-medium;
}
.mv4   {
  margin-top: $spacing-large;
  margin-bottom: $spacing-large;
}
.mv5   {
  margin-top: $spacing-extra-large;
  margin-bottom: $spacing-extra-large;
}
.mv6  {
  margin-top: $spacing-extra-extra-large;
  margin-bottom: $spacing-extra-extra-large;
}
.mv7  {
  margin-top: $spacing-extra-extra-extra-large;
  margin-bottom: $spacing-extra-extra-extra-large;
}

.mv8 {
  margin-top: $spacing-giant;
  margin-bottom: $spacing-giant;
}

.mh0   {
  margin-left: $spacing-none;
  margin-right: $spacing-none;
}
.mh1   {
  margin-left: $spacing-extra-small;
  margin-right: $spacing-extra-small;
}
.mh2   {
  margin-left: $spacing-small;
  margin-right: $spacing-small;
}
.mh3   {
  margin-left: $spacing-medium;
  margin-right: $spacing-medium;
}
.mh4   {
  margin-left: $spacing-large;
  margin-right: $spacing-large;
}
.mh5   {
  margin-left: $spacing-extra-large;
  margin-right: $spacing-extra-large;
}
.mh6  {
  margin-left: $spacing-extra-extra-large;
  margin-right: $spacing-extra-extra-large;
}
.mh7  {
  margin-left: $spacing-extra-extra-extra-large;
  margin-right: $spacing-extra-extra-extra-large;
}
.mv8 {
  margin-left: $spacing-giant;
  margin-right: $spacing-giant;
}

@include breakpoint(small) {
  .pa0-s  {  padding: $spacing-none; }
  .pa1-s {  padding: $spacing-extra-small; }
  .pa2-s  {  padding: $spacing-small; }
  .pa3-s  {  padding: $spacing-medium; }
  .pa4-s  {  padding: $spacing-large; }
  .pa5-s  {  padding: $spacing-extra-large; }
  .pa6-s {  padding: $spacing-extra-extra-large; }
  .pa7-s { padding: $spacing-extra-extra-extra-large; }
  .pa8-s { padding: $spacing-giant; }

  .pl0-s  {  padding-left: $spacing-none; }
  .pl1-s {  padding-left: $spacing-extra-small; }
  .pl2-s  {  padding-left: $spacing-small; }
  .pl3-s  {  padding-left: $spacing-medium; }
  .pl4-s  {  padding-left: $spacing-large; }
  .pl5-s  {  padding-left: $spacing-extra-large; }
  .pl6-s {  padding-left: $spacing-extra-extra-large; }
  .pl7-s { padding-left: $spacing-extra-extra-extra-large; }
  .pl8-s { padding-left: $spacing-giant; }

  .pr0-s  {  padding-right: $spacing-none; }
  .pr1-s {  padding-right: $spacing-extra-small; }
  .pr2-s  {  padding-right: $spacing-small; }
  .pr3-s  {  padding-right: $spacing-medium; }
  .pr4-s  {  padding-right: $spacing-large; }
  .pr5-s {   padding-right: $spacing-extra-large; }
  .pr6-s {  padding-right: $spacing-extra-extra-large; }
  .pr7-s { padding-right: $spacing-extra-extra-extra-large; }
  .pr8-s { padding-right: $spacing-giant; }

  .pb0-s  {  padding-bottom: $spacing-none; }
  .pb1-s {  padding-bottom: $spacing-extra-small; }
  .pb2-s  {  padding-bottom: $spacing-small; }
  .pb3-s  {  padding-bottom: $spacing-medium; }
  .pb4-s  {  padding-bottom: $spacing-large; }
  .pb5-s  {  padding-bottom: $spacing-extra-large; }
  .pb6-s {  padding-bottom: $spacing-extra-extra-large; }
  .pb7-s { padding-bottom: $spacing-extra-extra-extra-large; }
  .pb8-s { padding-bottom: $spacing-giant; }

  .pt0-s  {  padding-top: $spacing-none; }
  .pt1-s {  padding-top: $spacing-extra-small; }
  .pt2-s  {  padding-top: $spacing-small; }
  .pt3-s  {  padding-top: $spacing-medium; }
  .pt4-s  {  padding-top: $spacing-large; }
  .pt5-s  {  padding-top: $spacing-extra-large; }
  .pt6-s {  padding-top: $spacing-extra-extra-large; }
  .pt7-s { padding-top: $spacing-extra-extra-extra-large; }
  .pt8-s { padding-top: $spacing-giant; }

  .pv0-s {
    padding-top: $spacing-none;
    padding-bottom: $spacing-none;
  }
  .pv1-s {
    padding-top: $spacing-extra-small;
    padding-bottom: $spacing-extra-small;
  }
  .pv2-s {
    padding-top: $spacing-small;
    padding-bottom: $spacing-small;
  }
  .pv3-s {
    padding-top: $spacing-medium;
    padding-bottom: $spacing-medium;
  }
  .pv4-s {
    padding-top: $spacing-large;
    padding-bottom: $spacing-large;
  }
  .pv5-s {
    padding-top: $spacing-extra-large;
    padding-bottom: $spacing-extra-large;
  }
  .pv6-s {
    padding-top: $spacing-extra-extra-large;
    padding-bottom: $spacing-extra-extra-large;
  }
  .pv7-s {
    padding-top: $spacing-extra-extra-extra-large;
    padding-bottom: $spacing-extra-extra-extra-large;
  }
  .pv8-s {
    padding-top: $spacing-giant;
    padding-bottom: $spacing-giant;
  }

  .ph0-s {
    padding-left: $spacing-none;
    padding-right: $spacing-none;
  }
  .ph1-s {
    padding-left: $spacing-extra-small;
    padding-right: $spacing-extra-small;
  }
  .ph2-s {
    padding-left: $spacing-small;
    padding-right: $spacing-small;
  }
  .ph3-s {
    padding-left: $spacing-medium;
    padding-right: $spacing-medium;
  }
  .ph4-s {
    padding-left: $spacing-large;
    padding-right: $spacing-large;
  }
  .ph5-s {
    padding-left: $spacing-extra-large;
    padding-right: $spacing-extra-large;
  }
  .ph6-s {
    padding-left: $spacing-extra-extra-large;
    padding-right: $spacing-extra-extra-large;
  }
  .ph7-s {
    padding-left: $spacing-extra-extra-extra-large;
    padding-right: $spacing-extra-extra-extra-large;
  }
  .ph8-s {
    padding-left: $spacing-giant;
    padding-right: $spacing-giant;
  }

  .ma0-s  {  margin: $spacing-none; }
  .ma1-s {  margin: $spacing-extra-small; }
  .ma2-s  {  margin: $spacing-small; }
  .ma3-s  {  margin: $spacing-medium; }
  .ma4-s  {  margin: $spacing-large; }
  .ma5-s  {  margin: $spacing-extra-large; }
  .ma6-s {  margin: $spacing-extra-extra-large; }
  .ma7-s { margin: $spacing-extra-extra-extra-large; }
  .ma8-s { margin: $spacing-giant; }

  .ml0-s  {  margin-left: $spacing-none; }
  .ml1-s {  margin-left: $spacing-extra-small; }
  .ml2-s  {  margin-left: $spacing-small; }
  .ml3-s  {  margin-left: $spacing-medium; }
  .ml4-s  {  margin-left: $spacing-large; }
  .ml5-s  {  margin-left: $spacing-extra-large; }
  .ml6-s {  margin-left: $spacing-extra-extra-large; }
  .ml7-s { margin-left: $spacing-extra-extra-extra-large; }
  .ml8-s { margin-left: $spacing-giant; }

  .mr0-s  {  margin-right: $spacing-none; }
  .mr1-s {  margin-right: $spacing-extra-small; }
  .mr2-s  {  margin-right: $spacing-small; }
  .mr3-s  {  margin-right: $spacing-medium; }
  .mr4-s  {  margin-right: $spacing-large; }
  .mr5-s  {  margin-right: $spacing-extra-large; }
  .mr6-s {  margin-right: $spacing-extra-extra-large; }
  .mr7-s { margin-right: $spacing-extra-extra-extra-large; }
  .mr8-s { margin-right: $spacing-giant; }

  .mb0-s  {  margin-bottom: $spacing-none; }
  .mb1-s {  margin-bottom: $spacing-extra-small; }
  .mb2-s  {  margin-bottom: $spacing-small; }
  .mb3-s  {  margin-bottom: $spacing-medium; }
  .mb4-s  {  margin-bottom: $spacing-large; }
  .mb5-s  {  margin-bottom: $spacing-extra-large; }
  .mb6-s {  margin-bottom: $spacing-extra-extra-large; }
  .mb7-s { margin-bottom: $spacing-extra-extra-extra-large; }
  .mb8-s { margin-bottom: $spacing-giant; }

  .mt0-s  {  margin-top: $spacing-none; }
  .mt1-s {  margin-top: $spacing-extra-small; }
  .mt2-s  {  margin-top: $spacing-small; }
  .mt3-s  {  margin-top: $spacing-medium; }
  .mt4-s  {  margin-top: $spacing-large; }
  .mt5-s  {  margin-top: $spacing-extra-large; }
  .mt6-s {  margin-top: $spacing-extra-extra-large; }
  .mt7-s { margin-top: $spacing-extra-extra-extra-large; }
  .mt8-s { margin-top: $spacing-giant; }

  .mv0-s   {
    margin-top: $spacing-none;
    margin-bottom: $spacing-none;
  }
  .mv1-s  {
    margin-top: $spacing-extra-small;
    margin-bottom: $spacing-extra-small;
  }
  .mv2-s   {
    margin-top: $spacing-small;
    margin-bottom: $spacing-small;
  }
  .mv3-s   {
    margin-top: $spacing-medium;
    margin-bottom: $spacing-medium;
  }
  .mv4-s   {
    margin-top: $spacing-large;
    margin-bottom: $spacing-large;
  }
  .mv5-s   {
    margin-top: $spacing-extra-large;
    margin-bottom: $spacing-extra-large;
  }
  .mv6-s  {
    margin-top: $spacing-extra-extra-large;
    margin-bottom: $spacing-extra-extra-large;
  }
  .mv7-s  {
    margin-top: $spacing-extra-extra-extra-large;
    margin-bottom: $spacing-extra-extra-extra-large;
  }
  .mv8-s {
    margin-top: $spacing-giant;
    margin-bottom: $spacing-giant;
  }

  .mh0-s   {
    margin-left: $spacing-none;
    margin-right: $spacing-none;
  }
  .mh1-s   {
    margin-left: $spacing-extra-small;
    margin-right: $spacing-extra-small;
  }
  .mh2-s   {
    margin-left: $spacing-small;
    margin-right: $spacing-small;
  }
  .mh3-s   {
    margin-left: $spacing-medium;
    margin-right: $spacing-medium;
  }
  .mh4-s   {
    margin-left: $spacing-large;
    margin-right: $spacing-large;
  }
  .mh5-s   {
    margin-left: $spacing-extra-large;
    margin-right: $spacing-extra-large;
  }
  .mh6-s  {
    margin-left: $spacing-extra-extra-large;
    margin-right: $spacing-extra-extra-large;
  }
  .mh7-s  {
    margin-left: $spacing-extra-extra-extra-large;
    margin-right: $spacing-extra-extra-extra-large;
  }
  .mh8-s {
    margin-left: $spacing-giant;
    margin-right: $spacing-giant;
  }

}

@include breakpoint(medium) {
  .pa0-m  {  padding: $spacing-none; }
  .pa1-m {  padding: $spacing-extra-small; }
  .pa2-m  {  padding: $spacing-small; }
  .pa3-m  {  padding: $spacing-medium; }
  .pa4-m  {  padding: $spacing-large; }
  .pa5-m  {  padding: $spacing-extra-large; }
  .pa6-m {  padding: $spacing-extra-extra-large; }
  .pa7-m { padding: $spacing-extra-extra-extra-large; }
  .pa8-m { padding: $spacing-giant; }

  .pl0-m  {  padding-left: $spacing-none; }
  .pl1-m {  padding-left: $spacing-extra-small; }
  .pl2-m  {  padding-left: $spacing-small; }
  .pl3-m  {  padding-left: $spacing-medium; }
  .pl4-m  {  padding-left: $spacing-large; }
  .pl5-m  {  padding-left: $spacing-extra-large; }
  .pl6-m {  padding-left: $spacing-extra-extra-large; }
  .pl7-m { padding-left: $spacing-extra-extra-extra-large; }
  .pl8-m { padding-left: $spacing-giant; }

  .pr0-m  {  padding-right: $spacing-none; }
  .pr1-m {  padding-right: $spacing-extra-small; }
  .pr2-m  {  padding-right: $spacing-small; }
  .pr3-m  {  padding-right: $spacing-medium; }
  .pr4-m  {  padding-right: $spacing-large; }
  .pr5-m  {  padding-right: $spacing-extra-large; }
  .pr6-m {  padding-right: $spacing-extra-extra-large; }
  .pr7-m { padding-right: $spacing-extra-extra-extra-large; }
  .pr8-m { padding-right: $spacing-giant; }

  .pb0-m  {  padding-bottom: $spacing-none; }
  .pb1-m {  padding-bottom: $spacing-extra-small; }
  .pb2-m  {  padding-bottom: $spacing-small; }
  .pb3-m  {  padding-bottom: $spacing-medium; }
  .pb4-m  {  padding-bottom: $spacing-large; }
  .pb5-m  {  padding-bottom: $spacing-extra-large; }
  .pb6-m {  padding-bottom: $spacing-extra-extra-large; }
  .pb7-m { padding-bottom: $spacing-extra-extra-extra-large; }
  .pb8-m { padding-bottom: $spacing-giant; }

  .pt0-m  {  padding-top: $spacing-none; }
  .pt1-m {  padding-top: $spacing-extra-small; }
  .pt2-m  {  padding-top: $spacing-small; }
  .pt3-m  {  padding-top: $spacing-medium; }
  .pt4-m  {  padding-top: $spacing-large; }
  .pt5-m  {  padding-top: $spacing-extra-large; }
  .pt6-m {  padding-top: $spacing-extra-extra-large; }
  .pt7-m { padding-top: $spacing-extra-extra-extra-large; }
  .pt8-m { padding-top: $spacing-giant; }

  .pv0-m {
    padding-top: $spacing-none;
    padding-bottom: $spacing-none;
  }
  .pv1-m {
    padding-top: $spacing-extra-small;
    padding-bottom: $spacing-extra-small;
  }
  .pv2-m {
    padding-top: $spacing-small;
    padding-bottom: $spacing-small;
  }
  .pv3-m {
    padding-top: $spacing-medium;
    padding-bottom: $spacing-medium;
  }
  .pv4-m {
    padding-top: $spacing-large;
    padding-bottom: $spacing-large;
  }
  .pv5-m {
    padding-top: $spacing-extra-large;
    padding-bottom: $spacing-extra-large;
  }
  .pv6-m {
    padding-top: $spacing-extra-extra-large;
    padding-bottom: $spacing-extra-extra-large;
  }
  .pv7-m {
    padding-top: $spacing-extra-extra-extra-large;
    padding-bottom: $spacing-extra-extra-extra-large;
  }
  .pv8-m {
    padding-top: $spacing-giant;
    padding-bottom: $spacing-giant;
  }

  .ph0-m {
    padding-left: $spacing-none;
    padding-right: $spacing-none;
  }
  .ph1-m {
    padding-left: $spacing-extra-small;
    padding-right: $spacing-extra-small;
  }
  .ph2-m {
    padding-left: $spacing-small;
    padding-right: $spacing-small;
  }
  .ph3-m {
    padding-left: $spacing-medium;
    padding-right: $spacing-medium;
  }
  .ph4-m {
    padding-left: $spacing-large;
    padding-right: $spacing-large;
  }
  .ph5-m {
    padding-left: $spacing-extra-large;
    padding-right: $spacing-extra-large;
  }
  .ph6-m {
    padding-left: $spacing-extra-extra-large;
    padding-right: $spacing-extra-extra-large;
  }
  .ph7-m {
    padding-left: $spacing-extra-extra-extra-large;
    padding-right: $spacing-extra-extra-extra-large;
  }
  .ph8-m {
    padding-left: $spacing-giant;
    padding-right: $spacing-giant;
  }

  .ma0-m  {  margin: $spacing-none; }
  .ma1-m {  margin: $spacing-extra-small; }
  .ma2-m  {  margin: $spacing-small; }
  .ma3-m  {  margin: $spacing-medium; }
  .ma4-m  {  margin: $spacing-large; }
  .ma5-m  {  margin: $spacing-extra-large; }
  .ma6-m {  margin: $spacing-extra-extra-large; }
  .ma7-m { margin: $spacing-extra-extra-extra-large; }
  .ma8-m { margin: $spacing-giant; }

  .ml0-m  {  margin-left: $spacing-none; }
  .ml1-m {  margin-left: $spacing-extra-small; }
  .ml2-m  {  margin-left: $spacing-small; }
  .ml3-m  {  margin-left: $spacing-medium; }
  .ml4-m  {  margin-left: $spacing-large; }
  .ml5-m  {  margin-left: $spacing-extra-large; }
  .ml6-m {  margin-left: $spacing-extra-extra-large; }
  .ml7-m { margin-left: $spacing-extra-extra-extra-large; }
  .ml8-m { margin-left: $spacing-giant; }

  .mr0-m  {  margin-right: $spacing-none; }
  .mr1-m {  margin-right: $spacing-extra-small; }
  .mr2-m  {  margin-right: $spacing-small; }
  .mr3-m  {  margin-right: $spacing-medium; }
  .mr4-m  {  margin-right: $spacing-large; }
  .mr5-m  {  margin-right: $spacing-extra-large; }
  .mr6-m {  margin-right: $spacing-extra-extra-large; }
  .mr7-m { margin-right: $spacing-extra-extra-extra-large; }
  .mr8-m { margin-right: $spacing-giant; }

  .mb0-m  {  margin-bottom: $spacing-none; }
  .mb1-m {  margin-bottom: $spacing-extra-small; }
  .mb2-m  {  margin-bottom: $spacing-small; }
  .mb3-m  {  margin-bottom: $spacing-medium; }
  .mb4-m  {  margin-bottom: $spacing-large; }
  .mb5-m  {  margin-bottom: $spacing-extra-large; }
  .mb6-m {  margin-bottom: $spacing-extra-extra-large; }
  .mb7-m { margin-bottom: $spacing-extra-extra-extra-large; }
  .mb8-m { margin-bottom: $spacing-giant; }

  .mt0-m  {  margin-top: $spacing-none; }
  .mt1-m {  margin-top: $spacing-extra-small; }
  .mt2-m  {  margin-top: $spacing-small; }
  .mt3-m  {  margin-top: $spacing-medium; }
  .mt4-m  {  margin-top: $spacing-large; }
  .mt5-m  {  margin-top: $spacing-extra-large; }
  .mt6-m {  margin-top: $spacing-extra-extra-large; }
  .mt7-m { margin-top: $spacing-extra-extra-extra-large; }
  .mt8-m { margin-top: $spacing-giant; }

  .mv0-m {
    margin-top: $spacing-none;
    margin-bottom: $spacing-none;
  }
  .mv1-m {
    margin-top: $spacing-extra-small;
    margin-bottom: $spacing-extra-small;
  }
  .mv2-m {
    margin-top: $spacing-small;
    margin-bottom: $spacing-small;
  }
  .mv3-m {
    margin-top: $spacing-medium;
    margin-bottom: $spacing-medium;
  }
  .mv4-m {
    margin-top: $spacing-large;
    margin-bottom: $spacing-large;
  }
  .mv5-m {
    margin-top: $spacing-extra-large;
    margin-bottom: $spacing-extra-large;
  }
  .mv6-m {
    margin-top: $spacing-extra-extra-large;
    margin-bottom: $spacing-extra-extra-large;
  }
  .mv7-m {
    margin-top: $spacing-extra-extra-extra-large;
    margin-bottom: $spacing-extra-extra-extra-large;
  }
  .mv8-m {
    margin-top: $spacing-giant;
    margin-bottom: $spacing-giant;
  }

  .mh0-m {
    margin-left: $spacing-none;
    margin-right: $spacing-none;
  }
  .mh1-m {
    margin-left: $spacing-extra-small;
    margin-right: $spacing-extra-small;
  }
  .mh2-m {
    margin-left: $spacing-small;
    margin-right: $spacing-small;
  }
  .mh3-m {
    margin-left: $spacing-medium;
    margin-right: $spacing-medium;
  }
  .mh4-m {
    margin-left: $spacing-large;
    margin-right: $spacing-large;
  }
  .mh5-m {
    margin-left: $spacing-extra-large;
    margin-right: $spacing-extra-large;
  }
  .mh6-m {
    margin-left: $spacing-extra-extra-large;
    margin-right: $spacing-extra-extra-large;
  }
  .mh7-m {
    margin-left: $spacing-extra-extra-extra-large;
    margin-right: $spacing-extra-extra-extra-large;
  }
  .mh8-m {
    margin-left: $spacing-giant;
    margin-right: $spacing-giant;
  }

}

@include breakpoint(large) {
  .pa0-l  {  padding: $spacing-none; }
  .pa1-l {  padding: $spacing-extra-small; }
  .pa2-l  {  padding: $spacing-small; }
  .pa3-l  {  padding: $spacing-medium; }
  .pa4-l  {  padding: $spacing-large; }
  .pa5-l  {  padding: $spacing-extra-large; }
  .pa6-l {  padding: $spacing-extra-extra-large; }
  .pa7-l { padding: $spacing-extra-extra-extra-large; }
  .pa8-l { padding: $spacing-giant; }

  .pl0-l  {  padding-left: $spacing-none; }
  .pl1-l {  padding-left: $spacing-extra-small; }
  .pl2-l  {  padding-left: $spacing-small; }
  .pl3-l  {  padding-left: $spacing-medium; }
  .pl4-l  {  padding-left: $spacing-large; }
  .pl5-l  {  padding-left: $spacing-extra-large; }
  .pl6-l {  padding-left: $spacing-extra-extra-large; }
  .pl7-l { padding-left: $spacing-extra-extra-extra-large; }
  .pl8-l { padding-left: $spacing-giant; }

  .pr0-l  {  padding-right: $spacing-none; }
  .pr1-l {  padding-right: $spacing-extra-small; }
  .pr2-l  {  padding-right: $spacing-small; }
  .pr3-l  {  padding-right: $spacing-medium; }
  .pr4-l  {  padding-right: $spacing-large; }
  .pr5-l  {  padding-right: $spacing-extra-large; }
  .pr6-l {  padding-right: $spacing-extra-extra-large; }
  .pr7-l { padding-right: $spacing-extra-extra-extra-large; }
  .pr8-l { padding-right: $spacing-giant; }

  .pb0-l  {  padding-bottom: $spacing-none; }
  .pb1-l {  padding-bottom: $spacing-extra-small; }
  .pb2-l  {  padding-bottom: $spacing-small; }
  .pb3-l  {  padding-bottom: $spacing-medium; }
  .pb4-l  {  padding-bottom: $spacing-large; }
  .pb5-l  {  padding-bottom: $spacing-extra-large; }
  .pb6-l {  padding-bottom: $spacing-extra-extra-large; }
  .pb7-l { padding-bottom: $spacing-extra-extra-extra-large; }
  .pb8-l { padding-bottom: $spacing-giant; }

  .pt0-l  {  padding-top: $spacing-none; }
  .pt1-l {  padding-top: $spacing-extra-small; }
  .pt2-l  {  padding-top: $spacing-small; }
  .pt3-l  {  padding-top: $spacing-medium; }
  .pt4-l  {  padding-top: $spacing-large; }
  .pt5-l  {  padding-top: $spacing-extra-large; }
  .pt6-l {  padding-top: $spacing-extra-extra-large; }
  .pt7-l { padding-top: $spacing-extra-extra-extra-large; }
  .pt8-l { padding-top: $spacing-giant; }

  .pv0-l {
    padding-top: $spacing-none;
    padding-bottom: $spacing-none;
  }
  .pv1-l {
    padding-top: $spacing-extra-small;
    padding-bottom: $spacing-extra-small;
  }
  .pv2-l {
    padding-top: $spacing-small;
    padding-bottom: $spacing-small;
  }
  .pv3-l {
    padding-top: $spacing-medium;
    padding-bottom: $spacing-medium;
  }
  .pv4-l {
    padding-top: $spacing-large;
    padding-bottom: $spacing-large;
  }
  .pv5-l {
    padding-top: $spacing-extra-large;
    padding-bottom: $spacing-extra-large;
  }
  .pv6-l {
    padding-top: $spacing-extra-extra-large;
    padding-bottom: $spacing-extra-extra-large;
  }
  .pv7-l {
    padding-top: $spacing-extra-extra-extra-large;
    padding-bottom: $spacing-extra-extra-extra-large;
  }
  .pv8-l {
    padding-top: $spacing-giant;
    padding-bottom: $spacing-giant;
  }

  .ph0-l {
    padding-left: $spacing-none;
    padding-right: $spacing-none;
  }
  .ph1-l {
    padding-left: $spacing-extra-small;
    padding-right: $spacing-extra-small;
  }
  .ph2-l {
    padding-left: $spacing-small;
    padding-right: $spacing-small;
  }
  .ph3-l {
    padding-left: $spacing-medium;
    padding-right: $spacing-medium;
  }
  .ph4-l {
    padding-left: $spacing-large;
    padding-right: $spacing-large;
  }
  .ph5-l {
    padding-left: $spacing-extra-large;
    padding-right: $spacing-extra-large;
  }
  .ph6-l {
    padding-left: $spacing-extra-extra-large;
    padding-right: $spacing-extra-extra-large;
  }
  .ph7-l {
    padding-left: $spacing-extra-extra-extra-large;
    padding-right: $spacing-extra-extra-extra-large;
  }
  .ph8-l {
    padding-left: $spacing-giant;
    padding-right: $spacing-giant;
  }

  .ma0-l  {  margin: $spacing-none; }
  .ma1-l {  margin: $spacing-extra-small; }
  .ma2-l  {  margin: $spacing-small; }
  .ma3-l  {  margin: $spacing-medium; }
  .ma4-l  {  margin: $spacing-large; }
  .ma5-l  {  margin: $spacing-extra-large; }
  .ma6-l {  margin: $spacing-extra-extra-large; }
  .ma7-l { margin: $spacing-extra-extra-extra-large; }
  .ma8-l { margin: $spacing-giant; }

  .ml0-l  {  margin-left: $spacing-none; }
  .ml1-l {  margin-left: $spacing-extra-small; }
  .ml2-l  {  margin-left: $spacing-small; }
  .ml3-l  {  margin-left: $spacing-medium; }
  .ml4-l  {  margin-left: $spacing-large; }
  .ml5-l  {  margin-left: $spacing-extra-large; }
  .ml6-l {  margin-left: $spacing-extra-extra-large; }
  .ml7-l { margin-left: $spacing-extra-extra-extra-large; }
  .ml8-l { margin-left: $spacing-giant; }

  .mr0-l  {  margin-right: $spacing-none; }
  .mr1-l {  margin-right: $spacing-extra-small; }
  .mr2-l  {  margin-right: $spacing-small; }
  .mr3-l  {  margin-right: $spacing-medium; }
  .mr4-l  {  margin-right: $spacing-large; }
  .mr5-l  {  margin-right: $spacing-extra-large; }
  .mr6-l {  margin-right: $spacing-extra-extra-large; }
  .mr7-l { margin-right: $spacing-extra-extra-extra-large; }
  .mr8-l { margin-right: $spacing-giant; }

  .mb0-l  {  margin-bottom: $spacing-none; }
  .mb1-l {  margin-bottom: $spacing-extra-small; }
  .mb2-l  {  margin-bottom: $spacing-small; }
  .mb3-l  {  margin-bottom: $spacing-medium; }
  .mb4-l  {  margin-bottom: $spacing-large; }
  .mb5-l  {  margin-bottom: $spacing-extra-large; }
  .mb6-l {  margin-bottom: $spacing-extra-extra-large; }
  .mb7-l { margin-bottom: $spacing-extra-extra-extra-large; }
  .mb8-l { margin-bottom: $spacing-giant; }

  .mt0-l  {  margin-top: $spacing-none; }
  .mt1-l {  margin-top: $spacing-extra-small; }
  .mt2-l  {  margin-top: $spacing-small; }
  .mt3-l  {  margin-top: $spacing-medium; }
  .mt4-l  {  margin-top: $spacing-large; }
  .mt5-l  {  margin-top: $spacing-extra-large; }
  .mt6-l {  margin-top: $spacing-extra-extra-large; }
  .mt7-l { margin-top: $spacing-extra-extra-extra-large; }
  .mt8-l { margin-top: $spacing-giant; }

  .mv0-l {
    margin-top: $spacing-none;
    margin-bottom: $spacing-none;
  }
  .mv1-l {
    margin-top: $spacing-extra-small;
    margin-bottom: $spacing-extra-small;
  }
  .mv2-l {
    margin-top: $spacing-small;
    margin-bottom: $spacing-small;
  }
  .mv3-l {
    margin-top: $spacing-medium;
    margin-bottom: $spacing-medium;
  }
  .mv4-l {
    margin-top: $spacing-large;
    margin-bottom: $spacing-large;
  }
  .mv5-l {
    margin-top: $spacing-extra-large;
    margin-bottom: $spacing-extra-large;
  }
  .mv6-l {
    margin-top: $spacing-extra-extra-large;
    margin-bottom: $spacing-extra-extra-large;
  }
  .mv7-l {
    margin-top: $spacing-extra-extra-extra-large;
    margin-bottom: $spacing-extra-extra-extra-large;
  }
  .mv8-l {
    margin-top: $spacing-giant;
    margin-bottom: $spacing-giant;
  }

  .mh0-l {
    margin-left: $spacing-none;
    margin-right: $spacing-none;
  }
  .mh1-l {
    margin-left: $spacing-extra-small;
    margin-right: $spacing-extra-small;
  }
  .mh2-l {
    margin-left: $spacing-small;
    margin-right: $spacing-small;
  }
  .mh3-l {
    margin-left: $spacing-medium;
    margin-right: $spacing-medium;
  }
  .mh4-l {
    margin-left: $spacing-large;
    margin-right: $spacing-large;
  }
  .mh5-l {
    margin-left: $spacing-extra-large;
    margin-right: $spacing-extra-large;
  }
  .mh6-l {
    margin-left: $spacing-extra-extra-large;
    margin-right: $spacing-extra-extra-large;
  }
  .mh7-l {
    margin-left: $spacing-extra-extra-extra-large;
    margin-right: $spacing-extra-extra-extra-large;
  }
  .mh8-l {
    margin-left: $spacing-giant;
    margin-right: $spacing-giant;
  }
}



@include breakpoint(xlarge) {
  .pa0-xl  {  padding: $spacing-none; }
  .pa1-xl {  padding: $spacing-extra-small; }
  .pa2-xl  {  padding: $spacing-small; }
  .pa3-xl  {  padding: $spacing-medium; }
  .pa4-xl  {  padding: $spacing-large; }
  .pa5-xl  {  padding: $spacing-extra-large; }
  .pa6-xl {  padding: $spacing-extra-extra-large; }
  .pa7-xl { padding: $spacing-extra-extra-extra-large; }
  .pa8-xl { padding: $spacing-giant; }

  .pl0-xl  {  padding-left: $spacing-none; }
  .pl1-xl  {  padding-left: $spacing-extra-small; }
  .pl2-xl  {  padding-left: $spacing-small; }
  .pl3-xl  {  padding-left: $spacing-medium; }
  .pl4-xl  {  padding-left: $spacing-large; }
  .pl5-xl  {  padding-left: $spacing-extra-large; }
  .pl6-xl {  padding-left: $spacing-extra-extra-large; }
  .pl7-xl { padding-left: $spacing-extra-extra-extra-large; }
  .pl8-xl { padding-left: $spacing-giant; }

  .pr0-xl  {  padding-right: $spacing-none; }
  .pr1-xl {  padding-right: $spacing-extra-small; }
  .pr2-xl  {  padding-right: $spacing-small; }
  .pr3-xl  {  padding-right: $spacing-medium; }
  .pr4-xl  {  padding-right: $spacing-large; }
  .pr5-xl  {  padding-right: $spacing-extra-large; }
  .pr6-xl {  padding-right: $spacing-extra-extra-large; }
  .pr7-xl { padding-right: $spacing-extra-extra-extra-large; }
  .pr8-xl { padding-right: $spacing-giant; }

  .pb0-xl  {  padding-bottom: $spacing-none; }
  .pb1-xl {  padding-bottom: $spacing-extra-small; }
  .pb2-xl  {  padding-bottom: $spacing-small; }
  .pb3-xl  {  padding-bottom: $spacing-medium; }
  .pb4-xl  {  padding-bottom: $spacing-large; }
  .pb5-xl  {  padding-bottom: $spacing-extra-large; }
  .pb6-xl {  padding-bottom: $spacing-extra-extra-large; }
  .pb7-xl { padding-bottom: $spacing-extra-extra-extra-large; }
  .pb8-xl { padding-bottom: $spacing-giant; }

  .pt0-xl  {  padding-top: $spacing-none; }
  .pt1-xl {  padding-top: $spacing-extra-small; }
  .pt2-xl  {  padding-top: $spacing-small; }
  .pt3-xl  {  padding-top: $spacing-medium; }
  .pt4-xl  {  padding-top: $spacing-large; }
  .pt5-xl  {  padding-top: $spacing-extra-large; }
  .pt6-xl {  padding-top: $spacing-extra-extra-large; }
  .pt7-xl { padding-top: $spacing-extra-extra-extra-large; }
  .pt8-xl { padding-top: $spacing-giant; }

  .pv0-xl {
    padding-top: $spacing-none;
    padding-bottom: $spacing-none;
  }
  .pv1-xl {
    padding-top: $spacing-extra-small;
    padding-bottom: $spacing-extra-small;
  }
  .pv2-xl {
    padding-top: $spacing-small;
    padding-bottom: $spacing-small;
  }
  .pv3-xl {
    padding-top: $spacing-medium;
    padding-bottom: $spacing-medium;
  }
  .pv4-xl {
    padding-top: $spacing-large;
    padding-bottom: $spacing-large;
  }
  .pv5-xl {
    padding-top: $spacing-extra-large;
    padding-bottom: $spacing-extra-large;
  }
  .pv6-xl {
    padding-top: $spacing-extra-extra-large;
    padding-bottom: $spacing-extra-extra-large;
  }
  .pv7-xl {
    padding-top: $spacing-extra-extra-extra-large;
    padding-bottom: $spacing-extra-extra-extra-large;
  }
  .pv8-xl {
    padding-top: $spacing-giant;
    padding-bottom: $spacing-giant;
  }

  .ph0-xl {
    padding-left: $spacing-none;
    padding-right: $spacing-none;
  }
  .ph1-xl {
    padding-left: $spacing-extra-small;
    padding-right: $spacing-extra-small;
  }
  .ph2-xl {
    padding-left: $spacing-small;
    padding-right: $spacing-small;
  }
  .ph3-xl {
    padding-left: $spacing-medium;
    padding-right: $spacing-medium;
  }
  .ph4-xl {
    padding-left: $spacing-large;
    padding-right: $spacing-large;
  }
  .ph5-xl {
    padding-left: $spacing-extra-large;
    padding-right: $spacing-extra-large;
  }
  .ph6-xl {
    padding-left: $spacing-extra-extra-large;
    padding-right: $spacing-extra-extra-large;
  }
  .ph7-xl {
    padding-left: $spacing-extra-extra-extra-large;
    padding-right: $spacing-extra-extra-extra-large;
  }
  .ph8-xl {
    padding-left: $spacing-giant;
    padding-right: $spacing-giant;
  }

  .ma0-xl  {  margin: $spacing-none; }
  .ma1-xl {  margin: $spacing-extra-small; }
  .ma2-xl  {  margin: $spacing-small; }
  .ma3-xl  {  margin: $spacing-medium; }
  .ma4-xl  {  margin: $spacing-large; }
  .ma5-xl  {  margin: $spacing-extra-large; }
  .ma6-xl {  margin: $spacing-extra-extra-large; }
  .ma7-xl { margin: $spacing-extra-extra-extra-large; }
  .ma8-xl { margin: $spacing-giant; }

  .ml0-xl  {  margin-left: $spacing-none; }
  .ml1-xl {  margin-left: $spacing-extra-small; }
  .ml2-xl  {  margin-left: $spacing-small; }
  .ml3-xl  {  margin-left: $spacing-medium; }
  .ml4-xl  {  margin-left: $spacing-large; }
  .ml5-xl  {  margin-left: $spacing-extra-large; }
  .ml6-xl {  margin-left: $spacing-extra-extra-large; }
  .ml7-xl { margin-left: $spacing-extra-extra-extra-large; }
  .ml8-xl { margin-left: $spacing-giant; }

  .mr0-xl  {  margin-right: $spacing-none; }
  .mr1-xl {  margin-right: $spacing-extra-small; }
  .mr2-xl  {  margin-right: $spacing-small; }
  .mr3-xl  {  margin-right: $spacing-medium; }
  .mr4-xl  {  margin-right: $spacing-large; }
  .mr5-xl  {  margin-right: $spacing-extra-large; }
  .mr6-xl {  margin-right: $spacing-extra-extra-large; }
  .mr7-xl { margin-right: $spacing-extra-extra-extra-large; }
  .mr8-xl { margin-right: $spacing-giant; }

  .mb0-xl  {  margin-bottom: $spacing-none; }
  .mb1-xl {  margin-bottom: $spacing-extra-small; }
  .mb2-xl  {  margin-bottom: $spacing-small; }
  .mb3-xl  {  margin-bottom: $spacing-medium; }
  .mb4-xl  {  margin-bottom: $spacing-large; }
  .mb5-xl  {  margin-bottom: $spacing-extra-large; }
  .mb6-xl {  margin-bottom: $spacing-extra-extra-large; }
  .mb7-xl { margin-bottom: $spacing-extra-extra-extra-large; }
  .mb8-xl { margin-bottom: $spacing-giant; }

  .mt0-xl  {  margin-top: $spacing-none; }
  .mt1-xl {  margin-top: $spacing-extra-small; }
  .mt2-xl  {  margin-top: $spacing-small; }
  .mt3-xl  {  margin-top: $spacing-medium; }
  .mt4-xl  {  margin-top: $spacing-large; }
  .mt5-xl  {  margin-top: $spacing-extra-large; }
  .mt6-xl {  margin-top: $spacing-extra-extra-large; }
  .mt7-xl { margin-top: $spacing-extra-extra-extra-large; }
  .mt8-xl { margin-top: $spacing-giant; }

  .mv0-xl {
    margin-top: $spacing-none;
    margin-bottom: $spacing-none;
  }
  .mv1-xl {
    margin-top: $spacing-extra-small;
    margin-bottom: $spacing-extra-small;
  }
  .mv2-xl {
    margin-top: $spacing-small;
    margin-bottom: $spacing-small;
  }
  .mv3-xl {
    margin-top: $spacing-medium;
    margin-bottom: $spacing-medium;
  }
  .mv4-xl {
    margin-top: $spacing-large;
    margin-bottom: $spacing-large;
  }
  .mv5-xl {
    margin-top: $spacing-extra-large;
    margin-bottom: $spacing-extra-large;
  }
  .mv6-xl {
    margin-top: $spacing-extra-extra-large;
    margin-bottom: $spacing-extra-extra-large;
  }
  .mv7-xl {
    margin-top: $spacing-extra-extra-extra-large;
    margin-bottom: $spacing-extra-extra-extra-large;
  }
  .mv8-xl {
    margin-top: $spacing-giant;
    margin-bottom: $spacing-giant;
  }

  .mh0-xl {
    margin-left: $spacing-none;
    margin-right: $spacing-none;
  }
  .mh1-xl {
    margin-left: $spacing-extra-small;
    margin-right: $spacing-extra-small;
  }
  .mh2-xl {
    margin-left: $spacing-small;
    margin-right: $spacing-small;
  }
  .mh3-xl {
    margin-left: $spacing-medium;
    margin-right: $spacing-medium;
  }
  .mh4-xl {
    margin-left: $spacing-large;
    margin-right: $spacing-large;
  }
  .mh5-xl {
    margin-left: $spacing-extra-large;
    margin-right: $spacing-extra-large;
  }
  .mh6-xl {
    margin-left: $spacing-extra-extra-large;
    margin-right: $spacing-extra-extra-large;
  }
  .mh7-xl {
    margin-left: $spacing-extra-extra-extra-large;
    margin-right: $spacing-extra-extra-extra-large;
  }
  .mh8-xl {
    margin-left: $spacing-giant;
    margin-right: $spacing-giant;
  }
}


@include breakpoint(xxlarge) {
  .pa0-xxl  {  padding: $spacing-none; }
  .pa1-xxl {  padding: $spacing-extra-small; }
  .pa2-xxl  {  padding: $spacing-small; }
  .pa3-xxl  {  padding: $spacing-medium; }
  .pa4-xxl  {  padding: $spacing-large; }
  .pa5-xxl  {  padding: $spacing-extra-large; }
  .pa6-xxl {  padding: $spacing-extra-extra-large; }
  .pa7-xxl { padding: $spacing-extra-extra-extra-large; }
  .pa8-xxl { padding: $spacing-giant; }

  .pl0-xxl  {  padding-left: $spacing-none; }
  .pl1-xxl  {  padding-left: $spacing-extra-small; }
  .pl2-xxl  {  padding-left: $spacing-small; }
  .pl3-xxl  {  padding-left: $spacing-medium; }
  .pl4-xxl  {  padding-left: $spacing-large; }
  .pl5-xxl  {  padding-left: $spacing-extra-large; }
  .pl6-xxl {  padding-left: $spacing-extra-extra-large; }
  .pl7-xxl { padding-left: $spacing-extra-extra-extra-large; }
  .pl8-xxl { padding-left: $spacing-giant; }

  .pr0-xxl  {  padding-right: $spacing-none; }
  .pr1-xxl {  padding-right: $spacing-extra-small; }
  .pr2-xxl  {  padding-right: $spacing-small; }
  .pr3-xxl  {  padding-right: $spacing-medium; }
  .pr4-xxl  {  padding-right: $spacing-large; }
  .pr5-xxl  {  padding-right: $spacing-extra-large; }
  .pr6-xxl {  padding-right: $spacing-extra-extra-large; }
  .pr7-xxl { padding-right: $spacing-extra-extra-extra-large; }
  .pr8-xxl { padding-right: $spacing-giant; }

  .pb0-xxl  {  padding-bottom: $spacing-none; }
  .pb1-xxl {  padding-bottom: $spacing-extra-small; }
  .pb2-xxl  {  padding-bottom: $spacing-small; }
  .pb3-xxl  {  padding-bottom: $spacing-medium; }
  .pb4-xxl  {  padding-bottom: $spacing-large; }
  .pb5-xxl  {  padding-bottom: $spacing-extra-large; }
  .pb6-xxl {  padding-bottom: $spacing-extra-extra-large; }
  .pb7-xxl { padding-bottom: $spacing-extra-extra-extra-large; }
  .pb8-xxl { padding-bottom: $spacing-giant; }

  .pt0-xxl  {  padding-top: $spacing-none; }
  .pt1-xxl {  padding-top: $spacing-extra-small; }
  .pt2-xxl  {  padding-top: $spacing-small; }
  .pt3-xxl  {  padding-top: $spacing-medium; }
  .pt4-xxl  {  padding-top: $spacing-large; }
  .pt5-xxl  {  padding-top: $spacing-extra-large; }
  .pt6-xxl {  padding-top: $spacing-extra-extra-large; }
  .pt7-xxl { padding-top: $spacing-extra-extra-extra-large; }
  .pt8-xxl { padding-top: $spacing-giant; }

  .pv0-xxl {
    padding-top: $spacing-none;
    padding-bottom: $spacing-none;
  }
  .pv1-xxl {
    padding-top: $spacing-extra-small;
    padding-bottom: $spacing-extra-small;
  }
  .pv2-xxl {
    padding-top: $spacing-small;
    padding-bottom: $spacing-small;
  }
  .pv3-xxl {
    padding-top: $spacing-medium;
    padding-bottom: $spacing-medium;
  }
  .pv4-xxl {
    padding-top: $spacing-large;
    padding-bottom: $spacing-large;
  }
  .pv5-xxl {
    padding-top: $spacing-extra-large;
    padding-bottom: $spacing-extra-large;
  }
  .pv6-xxl {
    padding-top: $spacing-extra-extra-large;
    padding-bottom: $spacing-extra-extra-large;
  }
  .pv7-xxl {
    padding-top: $spacing-extra-extra-extra-large;
    padding-bottom: $spacing-extra-extra-extra-large;
  }
  .pv8-xxl {
    padding-top: $spacing-giant;
    padding-bottom: $spacing-giant;
  }

  .ph0-xxl {
    padding-left: $spacing-none;
    padding-right: $spacing-none;
  }
  .ph1-xxl {
    padding-left: $spacing-extra-small;
    padding-right: $spacing-extra-small;
  }
  .ph2-xxl {
    padding-left: $spacing-small;
    padding-right: $spacing-small;
  }
  .ph3-xxl {
    padding-left: $spacing-medium;
    padding-right: $spacing-medium;
  }
  .ph4-xxl {
    padding-left: $spacing-large;
    padding-right: $spacing-large;
  }
  .ph5-xxl {
    padding-left: $spacing-extra-large;
    padding-right: $spacing-extra-large;
  }
  .ph6-xxl {
    padding-left: $spacing-extra-extra-large;
    padding-right: $spacing-extra-extra-large;
  }
  .ph7-xxl {
    padding-left: $spacing-extra-extra-extra-large;
    padding-right: $spacing-extra-extra-extra-large;
  }
  .ph8-xxl {
    padding-left: $spacing-giant;
    padding-right: $spacing-giant;
  }

  .ma0-xxl  {  margin: $spacing-none; }
  .ma1-xxl {  margin: $spacing-extra-small; }
  .ma2-xxl  {  margin: $spacing-small; }
  .ma3-xxl  {  margin: $spacing-medium; }
  .ma4-xxl  {  margin: $spacing-large; }
  .ma5-xxl  {  margin: $spacing-extra-large; }
  .ma6-xxl {  margin: $spacing-extra-extra-large; }
  .ma7-xxl { margin: $spacing-extra-extra-extra-large; }
  .ma8-xxl { margin: $spacing-giant; }

  .ml0-xxl  {  margin-left: $spacing-none; }
  .ml1-xxl {  margin-left: $spacing-extra-small; }
  .ml2-xxl  {  margin-left: $spacing-small; }
  .ml3-xxl  {  margin-left: $spacing-medium; }
  .ml4-xxl  {  margin-left: $spacing-large; }
  .ml5-xxl  {  margin-left: $spacing-extra-large; }
  .ml6-xxl {  margin-left: $spacing-extra-extra-large; }
  .ml7-xxl { margin-left: $spacing-extra-extra-extra-large; }
  .ml8-xxl { margin-left: $spacing-giant; }

  .mr0-xxl  {  margin-right: $spacing-none; }
  .mr1-xxl {  margin-right: $spacing-extra-small; }
  .mr2-xxl  {  margin-right: $spacing-small; }
  .mr3-xxl  {  margin-right: $spacing-medium; }
  .mr4-xxl  {  margin-right: $spacing-large; }
  .mr5-xxl  {  margin-right: $spacing-extra-large; }
  .mr6-xxl {  margin-right: $spacing-extra-extra-large; }
  .mr7-xxl { margin-right: $spacing-extra-extra-extra-large; }
  .mr8-xxl { margin-right: $spacing-giant; }

  .mb0-xxl  {  margin-bottom: $spacing-none; }
  .mb1-xxl {  margin-bottom: $spacing-extra-small; }
  .mb2-xxl  {  margin-bottom: $spacing-small; }
  .mb3-xxl  {  margin-bottom: $spacing-medium; }
  .mb4-xxl  {  margin-bottom: $spacing-large; }
  .mb5-xxl  {  margin-bottom: $spacing-extra-large; }
  .mb6-xxl {  margin-bottom: $spacing-extra-extra-large; }
  .mb7-xxl { margin-bottom: $spacing-extra-extra-extra-large; }
  .mb8-xxl { margin-bottom: $spacing-giant; }


  .mt0-xxl  {  margin-top: $spacing-none; }
  .mt1-xxl {  margin-top: $spacing-extra-small; }
  .mt2-xxl  {  margin-top: $spacing-small; }
  .mt3-xxl  {  margin-top: $spacing-medium; }
  .mt4-xxl  {  margin-top: $spacing-large; }
  .mt5-xxl  {  margin-top: $spacing-extra-large; }
  .mt6-xxl {  margin-top: $spacing-extra-extra-large; }
  .mt7-xxl { margin-top: $spacing-extra-extra-extra-large; }
  .mt8-xxl { margin-top: $spacing-giant; }

  .mv0-xxl {
    margin-top: $spacing-none;
    margin-bottom: $spacing-none;
  }
  .mv1-xxl {
    margin-top: $spacing-extra-small;
    margin-bottom: $spacing-extra-small;
  }
  .mv2-xxl {
    margin-top: $spacing-small;
    margin-bottom: $spacing-small;
  }
  .mv3-xxl {
    margin-top: $spacing-medium;
    margin-bottom: $spacing-medium;
  }
  .mv4-xxl {
    margin-top: $spacing-large;
    margin-bottom: $spacing-large;
  }
  .mv5-xxl {
    margin-top: $spacing-extra-large;
    margin-bottom: $spacing-extra-large;
  }
  .mv6-xxl {
    margin-top: $spacing-extra-extra-large;
    margin-bottom: $spacing-extra-extra-large;
  }
  .mv7-xxl {
    margin-top: $spacing-extra-extra-extra-large;
    margin-bottom: $spacing-extra-extra-extra-large;
  }
  .mv8-xxl {
    margin-top: $spacing-giant;
    margin-bottom: $spacing-giant;
  }

  .mh0-xxl {
    margin-left: $spacing-none;
    margin-right: $spacing-none;
  }
  .mh1-xxl {
    margin-left: $spacing-extra-small;
    margin-right: $spacing-extra-small;
  }
  .mh2-xxl {
    margin-left: $spacing-small;
    margin-right: $spacing-small;
  }
  .mh3-xxl {
    margin-left: $spacing-medium;
    margin-right: $spacing-medium;
  }
  .mh4-xxl {
    margin-left: $spacing-large;
    margin-right: $spacing-large;
  }
  .mh5-xxl {
    margin-left: $spacing-extra-large;
    margin-right: $spacing-extra-large;
  }
  .mh6-xxl {
    margin-left: $spacing-extra-extra-large;
    margin-right: $spacing-extra-extra-large;
  }
  .mh7-xxl {
    margin-left: $spacing-extra-extra-extra-large;
    margin-right: $spacing-extra-extra-extra-large;
  }
  .mv8-xxl {
    margin-left: $spacing-giant;
    margin-right: $spacing-giant;
  }
}


@include breakpoint(super) {
  .pa0-super  {  padding: $spacing-none; }
  .pa1-super {  padding: $spacing-extra-small; }
  .pa2-super  {  padding: $spacing-small; }
  .pa3-super  {  padding: $spacing-medium; }
  .pa4-super  {  padding: $spacing-large; }
  .pa5-super  {  padding: $spacing-extra-large; }
  .pa6-super {  padding: $spacing-extra-extra-large; }
  .pa7-super { padding: $spacing-extra-extra-extra-large; }
  .pa8-super { padding: $spacing-giant; }

  .pl0-super  {  padding-left: $spacing-none; }
  .pl1-super  {  padding-left: $spacing-extra-small; }
  .pl2-super  {  padding-left: $spacing-small; }
  .pl3-super  {  padding-left: $spacing-medium; }
  .pl4-super  {  padding-left: $spacing-large; }
  .pl5-super  {  padding-left: $spacing-extra-large; }
  .pl6-super {  padding-left: $spacing-extra-extra-large; }
  .pl7-super { padding-left: $spacing-extra-extra-extra-large; }
  .pl8-super { padding-left: $spacing-giant; }

  .pr0-super  {  padding-right: $spacing-none; }
  .pr1-super {  padding-right: $spacing-extra-small; }
  .pr2-super  {  padding-right: $spacing-small; }
  .pr3-super  {  padding-right: $spacing-medium; }
  .pr4-super  {  padding-right: $spacing-large; }
  .pr5-super  {  padding-right: $spacing-extra-large; }
  .pr6-super {  padding-right: $spacing-extra-extra-large; }
  .pr7-super { padding-right: $spacing-extra-extra-extra-large; }
  .pr8-super { padding-right: $spacing-giant; }
  .pr9-super { padding-right: $spacing-huge; }

  .pb0-super  {  padding-bottom: $spacing-none; }
  .pb1-super {  padding-bottom: $spacing-extra-small; }
  .pb2-super  {  padding-bottom: $spacing-small; }
  .pb3-super  {  padding-bottom: $spacing-medium; }
  .pb4-super  {  padding-bottom: $spacing-large; }
  .pb5-super  {  padding-bottom: $spacing-extra-large; }
  .pb6-super {  padding-bottom: $spacing-extra-extra-large; }
  .pb7-super { padding-bottom: $spacing-extra-extra-extra-large; }
  .pb8-super { padding-bottom: $spacing-giant; }

  .pt0-super  {  padding-top: $spacing-none; }
  .pt1-super {  padding-top: $spacing-extra-small; }
  .pt2-super  {  padding-top: $spacing-small; }
  .pt3-super  {  padding-top: $spacing-medium; }
  .pt4-super  {  padding-top: $spacing-large; }
  .pt5-super  {  padding-top: $spacing-extra-large; }
  .pt6-super {  padding-top: $spacing-extra-extra-large; }
  .pt7-super { padding-top: $spacing-extra-extra-extra-large; }
  .pt8-super { padding-top: $spacing-giant; }

  .pv0-super {
    padding-top: $spacing-none;
    padding-bottom: $spacing-none;
  }
  .pv1-super {
    padding-top: $spacing-extra-small;
    padding-bottom: $spacing-extra-small;
  }
  .pv2-super {
    padding-top: $spacing-small;
    padding-bottom: $spacing-small;
  }
  .pv3-super {
    padding-top: $spacing-medium;
    padding-bottom: $spacing-medium;
  }
  .pv4-super {
    padding-top: $spacing-large;
    padding-bottom: $spacing-large;
  }
  .pv5-super {
    padding-top: $spacing-extra-large;
    padding-bottom: $spacing-extra-large;
  }
  .pv6-super {
    padding-top: $spacing-extra-extra-large;
    padding-bottom: $spacing-extra-extra-large;
  }
  .pv7-super {
    padding-top: $spacing-extra-extra-extra-large;
    padding-bottom: $spacing-extra-extra-extra-large;
  }
  .pv8-super {
    padding-top: $spacing-giant;
    padding-bottom: $spacing-giant;
  }

  .ph0-super {
    padding-left: $spacing-none;
    padding-right: $spacing-none;
  }
  .ph1-super {
    padding-left: $spacing-extra-small;
    padding-right: $spacing-extra-small;
  }
  .ph2-super {
    padding-left: $spacing-small;
    padding-right: $spacing-small;
  }
  .ph3-super {
    padding-left: $spacing-medium;
    padding-right: $spacing-medium;
  }
  .ph4-super {
    padding-left: $spacing-large;
    padding-right: $spacing-large;
  }
  .ph5-super {
    padding-left: $spacing-extra-large;
    padding-right: $spacing-extra-large;
  }
  .ph6-super {
    padding-left: $spacing-extra-extra-large;
    padding-right: $spacing-extra-extra-large;
  }
  .ph7-super {
    padding-left: $spacing-extra-extra-extra-large;
    padding-right: $spacing-extra-extra-extra-large;
  }
  .ph8-super {
    padding-left: $spacing-giant;
    padding-right: $spacing-giant;
  }

  .ma0-super  {  margin: $spacing-none; }
  .ma1-super {  margin: $spacing-extra-small; }
  .ma2-super  {  margin: $spacing-small; }
  .ma3-super  {  margin: $spacing-medium; }
  .ma4-super  {  margin: $spacing-large; }
  .ma5-super  {  margin: $spacing-extra-large; }
  .ma6-super {  margin: $spacing-extra-extra-large; }
  .ma7-super { margin: $spacing-extra-extra-extra-large; }
  .ma8-super { margin: $spacing-giant; }

  .ml0-super  {  margin-left: $spacing-none; }
  .ml1-super {  margin-left: $spacing-extra-small; }
  .ml2-super  {  margin-left: $spacing-small; }
  .ml3-super  {  margin-left: $spacing-medium; }
  .ml4-super  {  margin-left: $spacing-large; }
  .ml5-super  {  margin-left: $spacing-extra-large; }
  .ml6-super {  margin-left: $spacing-extra-extra-large; }
  .ml7-super { margin-left: $spacing-extra-extra-extra-large; }
  .ml8-super { margin-left: $spacing-giant; }

  .mr0-super  {  margin-right: $spacing-none; }
  .mr1-super {  margin-right: $spacing-extra-small; }
  .mr2-super  {  margin-right: $spacing-small; }
  .mr3-super  {  margin-right: $spacing-medium; }
  .mr4-super  {  margin-right: $spacing-large; }
  .mr5-super  {  margin-right: $spacing-extra-large; }
  .mr6-super {  margin-right: $spacing-extra-extra-large; }
  .mr7-super { margin-right: $spacing-extra-extra-extra-large; }
  .mr8-super { margin-right: $spacing-giant; }
  .mr9-super { margin-right: $spacing-huge; }

  .mb0-super  {  margin-bottom: $spacing-none; }
  .mb1-super {  margin-bottom: $spacing-extra-small; }
  .mb2-super  {  margin-bottom: $spacing-small; }
  .mb3-super  {  margin-bottom: $spacing-medium; }
  .mb4-super  {  margin-bottom: $spacing-large; }
  .mb5-super  {  margin-bottom: $spacing-extra-large; }
  .mb6-super {  margin-bottom: $spacing-extra-extra-large; }
  .mb7-super { margin-bottom: $spacing-extra-extra-extra-large; }
  .mb8-super { margin-bottom: $spacing-giant; }

  .mt0-super  {  margin-top: $spacing-none; }
  .mt1-super {  margin-top: $spacing-extra-small; }
  .mt2-super  {  margin-top: $spacing-small; }
  .mt3-super  {  margin-top: $spacing-medium; }
  .mt4-super  {  margin-top: $spacing-large; }
  .mt5-super  {  margin-top: $spacing-extra-large; }
  .mt6-super {  margin-top: $spacing-extra-extra-large; }
  .mt7-super { margin-top: $spacing-extra-extra-extra-large; }
  .mt8-super { margin-top: $spacing-giant; }

  .mv0-super {
    margin-top: $spacing-none;
    margin-bottom: $spacing-none;
  }
  .mv1-super {
    margin-top: $spacing-extra-small;
    margin-bottom: $spacing-extra-small;
  }
  .mv2-super {
    margin-top: $spacing-small;
    margin-bottom: $spacing-small;
  }
  .mv3-super {
    margin-top: $spacing-medium;
    margin-bottom: $spacing-medium;
  }
  .mv4-super {
    margin-top: $spacing-large;
    margin-bottom: $spacing-large;
  }
  .mv5-super {
    margin-top: $spacing-extra-large;
    margin-bottom: $spacing-extra-large;
  }
  .mv6-super {
    margin-top: $spacing-extra-extra-large;
    margin-bottom: $spacing-extra-extra-large;
  }
  .mv7-super {
    margin-top: $spacing-extra-extra-extra-large;
    margin-bottom: $spacing-extra-extra-extra-large;
  }
  .mv8-super {
    margin-top: $spacing-giant;
    margin-bottom: $spacing-giant;
  }

  .mh0-super {
    margin-left: $spacing-none;
    margin-right: $spacing-none;
  }
  .mh1-super {
    margin-left: $spacing-extra-small;
    margin-right: $spacing-extra-small;
  }
  .mh2-super {
    margin-left: $spacing-small;
    margin-right: $spacing-small;
  }
  .mh3-super {
    margin-left: $spacing-medium;
    margin-right: $spacing-medium;
  }
  .mh4-super {
    margin-left: $spacing-large;
    margin-right: $spacing-large;
  }
  .mh5-super {
    margin-left: $spacing-extra-large;
    margin-right: $spacing-extra-large;
  }
  .mh6-super {
    margin-left: $spacing-extra-extra-large;
    margin-right: $spacing-extra-extra-large;
  }
  .mh7-super {
    margin-left: $spacing-extra-extra-extra-large;
    margin-right: $spacing-extra-extra-extra-large;
  }
  .mh8-super {
    margin-left: $spacing-giant;
    margin-right: $spacing-giant;
  }
}



@include breakpoint(giant) {
  .pa0-g  {  padding: $spacing-none; }
  .pa1-g {  padding: $spacing-extra-small; }
  .pa2-g  {  padding: $spacing-small; }
  .pa3-g  {  padding: $spacing-medium; }
  .pa4-g  {  padding: $spacing-large; }
  .pa5-g  {  padding: $spacing-extra-large; }
  .pa6-g {  padding: $spacing-extra-extra-large; }
  .pa7-g { padding: $spacing-extra-extra-extra-large; }
  .pa8-g { padding: $spacing-giant; }

  .pl0-g  {  padding-left: $spacing-none; }
  .pl1-g  {  padding-left: $spacing-extra-small; }
  .pl2-g  {  padding-left: $spacing-small; }
  .pl3-g  {  padding-left: $spacing-medium; }
  .pl4-g  {  padding-left: $spacing-large; }
  .pl5-g  {  padding-left: $spacing-extra-large; }
  .pl6-g {  padding-left: $spacing-extra-extra-large; }
  .pl7-g { padding-left: $spacing-extra-extra-extra-large; }
  .pl8-g { padding-left: $spacing-giant; }

  .pr0-g  {  padding-right: $spacing-none; }
  .pr1-g {  padding-right: $spacing-extra-small; }
  .pr2-g  {  padding-right: $spacing-small; }
  .pr3-g  {  padding-right: $spacing-medium; }
  .pr4-g  {  padding-right: $spacing-large; }
  .pr5-g  {  padding-right: $spacing-extra-large; }
  .pr6-g {  padding-right: $spacing-extra-extra-large; }
  .pr7-g { padding-right: $spacing-extra-extra-extra-large; }
  .pr8-g { padding-right: $spacing-giant; }

  .pb0-g  {  padding-bottom: $spacing-none; }
  .pb1-g {  padding-bottom: $spacing-extra-small; }
  .pb2-g  {  padding-bottom: $spacing-small; }
  .pb3-g  {  padding-bottom: $spacing-medium; }
  .pb4-g  {  padding-bottom: $spacing-large; }
  .pb5-g  {  padding-bottom: $spacing-extra-large; }
  .pb6-g {  padding-bottom: $spacing-extra-extra-large; }
  .pb7-g { padding-bottom: $spacing-extra-extra-extra-large; }
  .pb8-g { padding-bottom: $spacing-giant; }

  .pt0-g  {  padding-top: $spacing-none; }
  .pt1-g {  padding-top: $spacing-extra-small; }
  .pt2-g  {  padding-top: $spacing-small; }
  .pt3-g  {  padding-top: $spacing-medium; }
  .pt4-g  {  padding-top: $spacing-large; }
  .pt5-g  {  padding-top: $spacing-extra-large; }
  .pt6-g {  padding-top: $spacing-extra-extra-large; }
  .pt7-g { padding-top: $spacing-extra-extra-extra-large; }
  .pt8-g { padding-top: $spacing-giant; }

  .pv0-g {
    padding-top: $spacing-none;
    padding-bottom: $spacing-none;
  }
  .pv1-g {
    padding-top: $spacing-extra-small;
    padding-bottom: $spacing-extra-small;
  }
  .pv2-g {
    padding-top: $spacing-small;
    padding-bottom: $spacing-small;
  }
  .pv3-g {
    padding-top: $spacing-medium;
    padding-bottom: $spacing-medium;
  }
  .pv4-g {
    padding-top: $spacing-large;
    padding-bottom: $spacing-large;
  }
  .pv5-g {
    padding-top: $spacing-extra-large;
    padding-bottom: $spacing-extra-large;
  }
  .pv6-g {
    padding-top: $spacing-extra-extra-large;
    padding-bottom: $spacing-extra-extra-large;
  }
  .pv7-g {
    padding-top: $spacing-extra-extra-extra-large;
    padding-bottom: $spacing-extra-extra-extra-large;
  }
  .pv8-g {
    padding-top: $spacing-giant;
    padding-bottom: $spacing-giant;
  }

  .ph0-g {
    padding-left: $spacing-none;
    padding-right: $spacing-none;
  }
  .ph1-g {
    padding-left: $spacing-extra-small;
    padding-right: $spacing-extra-small;
  }
  .ph2-g {
    padding-left: $spacing-small;
    padding-right: $spacing-small;
  }
  .ph3-l {
    padding-left: $spacing-medium;
    padding-right: $spacing-medium;
  }
  .ph4-g {
    padding-left: $spacing-large;
    padding-right: $spacing-large;
  }
  .ph5-g {
    padding-left: $spacing-extra-large;
    padding-right: $spacing-extra-large;
  }
  .ph6-g {
    padding-left: $spacing-extra-extra-large;
    padding-right: $spacing-extra-extra-large;
  }
  .ph7-g {
    padding-left: $spacing-extra-extra-extra-large;
    padding-right: $spacing-extra-extra-extra-large;
  }
  .ph8-g {
    padding-left: $spacing-giant;
    padding-right: $spacing-giant;
  }

  .ma0-g  {  margin: $spacing-none; }
  .ma1-g {  margin: $spacing-extra-small; }
  .ma2-g  {  margin: $spacing-small; }
  .ma3-g  {  margin: $spacing-medium; }
  .ma4-g  {  margin: $spacing-large; }
  .ma5-g  {  margin: $spacing-extra-large; }
  .ma6-g {  margin: $spacing-extra-extra-large; }
  .ma7-g { margin: $spacing-extra-extra-extra-large; }
  .ma8-g { margin: $spacing-giant; }

  .ml0-g  {  margin-left: $spacing-none; }
  .ml1-g {  margin-left: $spacing-extra-small; }
  .ml2-g  {  margin-left: $spacing-small; }
  .ml3-g  {  margin-left: $spacing-medium; }
  .ml4-g  {  margin-left: $spacing-large; }
  .ml5-g  {  margin-left: $spacing-extra-large; }
  .ml6-g {  margin-left: $spacing-extra-extra-large; }
  .ml7-g { margin-left: $spacing-extra-extra-extra-large; }
  .ml8-g { margin-left: $spacing-giant; }

  .mr0-g  {  margin-right: $spacing-none; }
  .mr1-g {  margin-right: $spacing-extra-small; }
  .mr2-g  {  margin-right: $spacing-small; }
  .mr3-g  {  margin-right: $spacing-medium; }
  .mr4-g  {  margin-right: $spacing-large; }
  .mr5-g  {  margin-right: $spacing-extra-large; }
  .mr6-g {  margin-right: $spacing-extra-extra-large; }
  .mr7-g { margin-right: $spacing-extra-extra-extra-large; }
  .mr8-g { margin-right: $spacing-giant; }

  .mb0-g  {  margin-bottom: $spacing-none; }
  .mb1-g {  margin-bottom: $spacing-extra-small; }
  .mb2-g  {  margin-bottom: $spacing-small; }
  .mb3-g  {  margin-bottom: $spacing-medium; }
  .mb4-g  {  margin-bottom: $spacing-large; }
  .mb5-g  {  margin-bottom: $spacing-extra-large; }
  .mb6-g {  margin-bottom: $spacing-extra-extra-large; }
  .mb7-g { margin-bottom: $spacing-extra-extra-extra-large; }
  .mb8-g { margin-bottom: $spacing-giant; }

  .mt0-g  {  margin-top: $spacing-none; }
  .mt1-g {  margin-top: $spacing-extra-small; }
  .mt2-g  {  margin-top: $spacing-small; }
  .mt3-g  {  margin-top: $spacing-medium; }
  .mt4-g  {  margin-top: $spacing-large; }
  .mt5-g  {  margin-top: $spacing-extra-large; }
  .mt6-g {  margin-top: $spacing-extra-extra-large; }
  .mt7-g { margin-top: $spacing-extra-extra-extra-large; }
  .mt8-g { margin-top: $spacing-giant; }

  .mv0-g {
    margin-top: $spacing-none;
    margin-bottom: $spacing-none;
  }
  .mv1-g {
    margin-top: $spacing-extra-small;
    margin-bottom: $spacing-extra-small;
  }
  .mv2-g {
    margin-top: $spacing-small;
    margin-bottom: $spacing-small;
  }
  .mv3-g {
    margin-top: $spacing-medium;
    margin-bottom: $spacing-medium;
  }
  .mv4-g {
    margin-top: $spacing-large;
    margin-bottom: $spacing-large;
  }
  .mv5-g {
    margin-top: $spacing-extra-large;
    margin-bottom: $spacing-extra-large;
  }
  .mv6-g {
    margin-top: $spacing-extra-extra-large;
    margin-bottom: $spacing-extra-extra-large;
  }
  .mv7-g {
    margin-top: $spacing-extra-extra-extra-large;
    margin-bottom: $spacing-extra-extra-extra-large;
  }
  .mv8-g {
    margin-top: $spacing-giant;
    margin-bottom: $spacing-giant;
  }

  .mh0-g {
    margin-left: $spacing-none;
    margin-right: $spacing-none;
  }
  .mh1-g {
    margin-left: $spacing-extra-small;
    margin-right: $spacing-extra-small;
  }
  .mh2-g {
    margin-left: $spacing-small;
    margin-right: $spacing-small;
  }
  .mh3-g {
    margin-left: $spacing-medium;
    margin-right: $spacing-medium;
  }
  .mh4-g {
    margin-left: $spacing-large;
    margin-right: $spacing-large;
  }
  .mh5-g {
    margin-left: $spacing-extra-large;
    margin-right: $spacing-extra-large;
  }
  .mh6-g {
    margin-left: $spacing-extra-extra-large;
    margin-right: $spacing-extra-extra-large;
  }
  .mh7-g {
    margin-left: $spacing-extra-extra-extra-large;
    margin-right: $spacing-extra-extra-extra-large;
  }
  .mh8-g {
    margin-left: $spacing-giant;
    margin-right: $spacing-giant;
  }
}
