.i {         font-style: italic; }
.b {         font-weight: bold; }
.underline { text-decoration: underline; }
.strike {    text-decoration: line-through; }
.ttc {       text-transform: capitalize; }
.ttu {       text-transform: uppercase; }

.regular {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

.semibold {
  font-weight: 600;
}

.center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.lineHeight1 {

  line-height: 1!important;
}


// Header
.PelvivaHeader {
  @include font-size(38);

  @include breakpoint(large) {
    @include font-size(52);
  }

  @include breakpoint(super) {
    @include font-size(70);
    line-height: 1;
  }
}

// Large Header
.PelvivaHeader-l {
  @include font-size(42);

  @include breakpoint(large) {
    @include font-size(58);
  }

  @include breakpoint(super) {
    @include font-size(78);
  }
}

.PelvivaHeader-super {

  @include font-size(48);

  @include breakpoint(large) {
    @include font-size(150);
    }

  @include breakpoint(super) {
    @include font-size(198);
    line-height: 0.75;
  }
}

// Subheader
.PelvivaSubheader {
  @include font-size(32);
  line-height: 1.2;

  @include breakpoint(large) {
    @include font-size(38);
  }

  @include breakpoint(super) {
    @include font-size(55);
  }
}


// Small Copy
.PelvivaCopy-s {
  @include font-size(18);

  @include breakpoint(large) {
    @include font-size(20);
  }

  @include breakpoint(super) {
    @include font-size(22);
  }
}

// Standard Copy
.PelvivaCopy {
  @include font-size(18);
  letter-spacing: -0.5px;
  line-height: 1.8;

  @include breakpoint(large) {
    @include font-size(22);
  }

  @include breakpoint(super) {
    @include font-size(25);
  }
}

// Large Copy
.PelvivaCopy-l {
  @include font-size(22);
  line-height: 1.4;

  @include breakpoint(large) {
    @include font-size(26);
  }

  @include breakpoint(super) {
    @include font-size(32);
  }
}

// Extra Large Copy
.PelvivaCopy-xl {
  @include font-size(26);
  line-height: 1.3;
  letter-spacing: -0.5px;

  @include breakpoint(large) {
    @include font-size(32);
  }

  @include breakpoint(super) {
    @include font-size(42);
  }
}

// Footer Copy
.PelvivaFooterCopy {
  @include font-size(18);

  @include breakpoint(large) {
    @include font-size(18);
  }

  @include breakpoint(super) {
    @include font-size(18);
  }
}
