.underLine {
  padding-bottom : 2px;
  &:after {
      content : '';

      height : 2px;
      background-color : currentColor;
      pointer-events: none;


      position: absolute;
      bottom : 0;
      left: 0;
      right: 0;
      // width: 100%;
      z-index: 0;
      width: 0;
      transition: all 0.2s linear;

    }
}

.underLine:hover:after {
    width: 100%;
  }
