
.a-arrowGrow {
  width: 33px;
  height: 20px;
  float: left;
  @include breakpoint(xxlarge){
    width : 46px;
  }
//width
  transition: margin 0.2s map_get($transitions, linear);
}


.a-arrowGrow:hover {
  // width : 36px;
  margin-left: 0.5rem;
  @include breakpoint(xxlarge){
    // width : 50px;
    margin-left: 0.5rem;
  }
}
