
.a-bckSlide {
  position: relative;
  background-color: transparent;
  &:after {
    position: absolute;
    display: block;
    width: 0;
    background: currentColor;
    opacity: 0.5;
    height: 100%;
    top: 0;
    transition: width $speed-2 map_get($transitions, in-out-cubic);
  }
}

.a-bckSlide:hover:after {
  width: 100%;
}
