
.a-fade {
  opacity: 0;
  transition: all $speed-2 ease-out;
}



$columns: 10;

@for $i from 0 through $columns {
    .a-fade-up--#{(($columns) * $i * 10)} {
      opacity: 0;
      transition: all #{($columns) * $i * 10)}ms ease-out;
    }

    .a-fade--once--#{(($columns) * $i * 10)} {
      opacity: 0;
      transition: all #{($columns) * $i * 10)}ms ease-out;
    }

    .a-fade-down--#{(($columns) * $i * 10)} {
      opacity: 0;
      transition: all #{($columns) * $i * 10)}ms ease-out;
    }

    .a-fade-right--#{(($columns) * $i * 10)} {
      opacity: 0;
      transition: all #{($columns) * $i * 10)}ms ease-out;
    }

    .a-fade-left--#{(($columns) * $i * 10)} {
      opacity: 0;
      transition: all #{($columns) * $i * 10)}ms ease-out;
    }

    @for $j from 0 through $columns {
      .a-fade-up--#{(($columns) * $i * 10)}--delay--#{(($columns) * $j * 10)} {
        opacity: 0;
        transition: all #{($columns) * $i * 10)}ms ease-out #{($columns) * $j * 10)}ms;
      }
      .a-fade-down--#{(($columns) * $i * 10)}--delay--#{(($columns) * $j * 10)} {
        opacity: 0;
        transition: all #{($columns) * $i * 10)}ms ease-out #{($columns) * $j * 10)}ms;
      }

      .a-fade-right--#{(($columns) * $i * 10)}--delay--#{(($columns) * $j * 10)} {
        opacity: 0;
        transition: all #{($columns) * $i * 10)}ms ease-out #{($columns) * $j * 10)}ms;
      }

      .a-fade-left--#{(($columns) * $i * 10)}--delay--#{(($columns) * $j * 10)} {
        opacity: 0;
        transition: all #{($columns) * $i * 10)}ms ease-out #{($columns) * $j * 10)}ms;
      }
    }
}

.a-fade-down {
  opacity: 0;
  transition: all 400ms ease-out 200ms;
}


// the animation in effect /////
.isInViewport {
  opacity: 1;
}
.a-fade--in-view {
  opacity: 1;
}
