.a-fade-slide {
  transform: translate3d(0,1%,0);
  opacity: 0;

  transition: all $speed-5 ease-out;
}

.a-fade-slide--once {
  transform: translate3d(0,10px,0);
  opacity: 0;
  transition: all $speed-5 ease-out;
}

$columns: 10;

@for $i from 0 through $columns {
    .a-fade-slide-up--#{(($columns) * $i * 10)} {
      transform: translate3d(0,10%,0);
      opacity: 0;
      transition: all #{($columns) * $i * 10)}ms ease-out;
    }

    .a-fade-slide--once--#{(($columns) * $i * 10)} {
      transform: translate3d(0,-10%,0);
      opacity: 0;
      transition: all #{($columns) * $i * 10)}ms ease-out;
    }

    .a-fade-slide-down--#{(($columns) * $i * 10)} {
      transform: translate3d(0,-10%,0);
      opacity: 0;
      transition: all #{($columns) * $i * 10)}ms ease-out;
    }

    .a-fade-slide-right--#{(($columns) * $i * 10)} {
      transform: translate3d(50%,0,0);
      opacity: 0;
      transition: all #{($columns) * $i * 10)}ms ease-out;
    }

    .a-fade-slide-left--#{(($columns) * $i * 10)} {
      transform: translate3d(-50%,0,0);
      opacity: 0;
      transition: all #{($columns) * $i * 10)}ms ease-out;
    }

    @for $j from 0 through $columns {
      .a-fade-slide-up--#{(($columns) * $i * 10)}--delay--#{(($columns) * $j * 10)} {
        transform: translate3d(0,10%,0);
        opacity: 0;
        transition: all #{($columns) * $i * 10)}ms ease-out #{($columns) * $j * 10)}ms;
      }
      .a-fade-slide-down--#{(($columns) * $i * 10)}--delay--#{(($columns) * $j * 10)} {
        transform: translate3d(0,-10%,0);
        opacity: 0;
        transition: all #{($columns) * $i * 10)}ms ease-out #{($columns) * $j * 10)}ms;
      }

      .a-fade-slide-right--#{(($columns) * $i * 10)}--delay--#{(($columns) * $j * 10)} {
        transform: translate3d(50%,0,0);
        opacity: 0;
        transition: all #{($columns) * $i * 10)}ms ease-out #{($columns) * $j * 10)}ms;
      }

      .a-fade-slide-left--#{(($columns) * $i * 10)}--delay--#{(($columns) * $j * 10)} {
        transform: translate3d(-50%,0,0);
        opacity: 0;
        transition: all #{($columns) * $i * 10)}ms ease-out #{($columns) * $j * 10)}ms;
      }
    }
}


// the animation in effect /////
.a-fade-slide--in-view {
  transform: translate3d(0,0,0);
  opacity: 1;
}