.a-imageScale {
  transform: scale(1);
  transition: transform $speed-2 map_get($transitions, linear);
}

div:hover > .a-imageScale,
a:hover > .a-imageScale,
.a-imageScale:hover {
  transform: scale(1.05);
  //transition:
}
