.turbolinks-progress-bar {
  height: 5px;
  background-color: color(red);
  z-index: 10000;
}
html[data-loader-color="pink"] .turbolinks-progress-bar {
  background-color: color(red);
}

html[data-loader-color="purple"] .turbolinks-progress-bar {
  background-color: color(red);
}



#loader-wrapper {
  z-index: 1001;
  left : 0;
  right : 0;
  bottom : 0;
  top : 0;
  position: fixed;
  transform: translate(0%,-100%);
  transition: all $speed-5 map_get($transitions, in-out-cubic);
}

.loader-title {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    color: color(white);
    text-transform: none;
    font-size: 90px;
    max-width: 40%;
    line-height: 1;
    @include font-size(28);

    @include breakpoint(large){
      @include font-size(50);
    }
    @include breakpoint(super){
      @include font-size(60);
    }
}

.is-preloading #loader-wrapper {
  transform: translate(0%,0%);
}

.is-preloading.is-preloading--ready #loader-wrapper {
  transform: translate(0%,-100%);
}

#loader {
  position : absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: auto;
  height: auto;

}

#loader svg {
  color: #ffffff;
}

.loaded #loader {
    opacity: 0;
}

.loaded #loader-wrapper {
    visibility: hidden;
}

.loaded #loader {
    opacity: 0;
    transition: all 0.3s map_get($transitions, in-out-cubic);
}

.loaded #loader-wrapper {
    transform: translate(0,-100%);
    transition: all $speed-5 0.6s map_get($transitions, in-out-cubic);
}

.loaded #loader-wrapper {
    transform: translate(0,-100%);
    transition: all $speed-5 1s map_get($transitions, in-out-cubic);
}
.no-js #loader-wrapper {
  // TODO : before go live turn this back on
    // display: none;
}

.a-loader-wave.a-loader {
  margin: 0 auto;
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 10px;
}
.a-loader-wave div {
  background-color: #FFF;
  height: 100%;
  width: 6px;
  margin: 0 1px;
  display: inline-block;
  animation: a-waveStretchDelay $speed-10 infinite ease-in-out;
}
.a-loader-wave .a-rect2 {
    animation-delay: -0.2s;
  }
.a-loader-wave .a-rect3 {
  animation-delay: -0.4s;
}
.a-loader-wave .a-rect4 {
  animation-delay: -0.6s;
}
.a-loader-wave .a-rect5 {
  animation-delay: -0.8s;
}

@-webkit-keyframes a-waveStretchDelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
}

  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
          }
}

@keyframes a-waveStretchDelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
    }

  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
      }
}
