.a-slide {
  transform: translate3d(0,1%,0);

  transition: all $speed-5 ease-out;
}

.a-slide--once {
  transform: translate3d(0,10px,0);

  transition: all $speed-5 ease-out;
}

$columns: 10;

@for $i from 0 through $columns {
    .a-slide-up--#{(($columns) * $i * 10)} {
      transform: translate3d(0,150%,0);
      transition: all #{($columns) * $i * 10)}ms ease-out;
    }

    .a-slide--once--#{(($columns) * $i * 10)} {
      transform: translate3d(0,-150%,0);
      transition: all #{($columns) * $i * 10)}ms ease-out;
    }

    .a-slide-down--#{(($columns) * $i * 10)} {
      transform: translate3d(0,-150%,0);
      transition: all #{($columns) * $i * 10)}ms ease-out;
    }

    .a-slide-right--#{(($columns) * $i * 10)} {
      transform: translate3d(150%,0,0);
      transition: all #{($columns) * $i * 10)}ms ease-out;
    }

    .a-slide-left--#{(($columns) * $i * 10)} {
      transform: translate3d(-150%,0,0);
      transition: all #{($columns) * $i * 10)}ms ease-out;
    }

    @for $j from 0 through $columns {
      .a-slide-up--#{(($columns) * $i * 10)}--delay--#{(($columns) * $j * 10)} {
        transform: translate3d(0,150%,0);
        transition: all #{($columns) * $i * 10)}ms ease-out #{($columns) * $j * 10)}ms;
      }
      .a-slide-down--#{(($columns) * $i * 10)}--delay--#{(($columns) * $j * 10)} {
        transform: translate3d(0,-150%,0);
        transition: all #{($columns) * $i * 10)}ms ease-out #{($columns) * $j * 10)}ms;
      }

      .a-slide-right--#{(($columns) * $i * 10)}--delay--#{(($columns) * $j * 10)} {
        transform: translate3d(150%,0,0);
        transition: all #{($columns) * $i * 10)}ms ease-out #{($columns) * $j * 10)}ms;
      }

      .a-slide-left--#{(($columns) * $i * 10)}--delay--#{(($columns) * $j * 10)} {
        transform: translate3d(-150%,0,0);
        transition: all #{($columns) * $i * 10)}ms ease-out #{($columns) * $j * 10)}ms;
      }
    }
}

// the animation in effect /////
.a-slide--in-view {
  transform: translate3d(0,0,0);
}
