.a-unline {
  position: relative;
  z-index: 2;
  padding-bottom : 3px;
  &:after {
    content : '';

    height : 1px;
    background-color : currentColor;
    pointer-events: none;


    position: absolute;
    bottom : 0;
    left: 0;
    right: 0;
    // width: 100%;
    z-index: 0;
    width: 0;
    transition: all 0.2s linear;

  }
}

.a-unline:hover:after {
  width: 100%;
}
